[2020-05-28 05:48] derberg opened #43 "User should have an easy way to check a list of all template params without reading docs"
#### Reason/Context
Many templates have very different parameters that they support. Template params are always described in template configuration, to which we have access, so dropping them into the logs should not be a big deal

#### Description
- add some meaningful flag that user can use to log params
- logs that talk about warnings and errors while using template params should always have a h

[2021-02-18 18:50] jotamusik opened #1 "CLI Specification"
WIP
**Setting up a context**
The user will be able to set a specification file once and all actions after setting it, will be related to that specification file

## Validation
Setup an option to be able to watch a specification file and reload the output when the file change

## Generation

## New Specification File

## Some examples (from @derberg):
[code]

[2021-02-19 16:03] fmvilas commented on #1
Love it so far. Simple and clean. For `asyncapi validate`, I think we could just use the existing [Generator](https://www.github.com/asyncapi/generator) syntax. It would be like the following:

[code]

[2021-02-19 16:54] derberg commented on #1
That was fast man, thank you for taking a lead here!

you mean like a `--watch` flag that keeps the cli running and watching for changes and reacting?

what would be the content of this file?

---
in general I think we need to focus more on the CLI (interesting presentation [here](https://nordicapis.com/how-to-make-your-cli-more-intuitive/) btw). Like try to imagine as many possible options we cou

[2021-02-23 18:36] fmvilas commented on #1
Just some comment on what @derberg said. I'd make it like this:

[code]

Because the AsyncAPI file might not be needed. For instance, to create a new AsyncAPI file with the default name, it could be `asyncapi new`. Each subcommand might take a different number of arguments. E.g., `asyncapi new my-asyncapi.yaml` or `asyncapi generate ./asyncapi.yml @asyncapi/html-template`.

In any case, I think ha

[2021-02-25 13:41] derberg commented on #1
I like `asyncapi  <asyncapi-ref> ` as it puts asyncapi document in a center. I also get it might be confusing, especially that I would immediately like to have a feature where you set context for a given file just once, and then you do not need to refer to given document over and over. We could even have default, that if you do not provide file reference we read `asyncapi.yml` or `asyncapi.json` f

[2021-02-25 18:38] magicmatatjahu commented on #1
Maybe than `new` it should be `init` -> `asyncapi init (file | schema | template | project)`

[2021-02-25 19:01] derberg commented on #1
@magicmatatjahu you sure? I have an impression that `npm init` is super not intuitive, I always have to look it up 😅

[2021-02-25 20:59] magicmatatjahu commented on #1
@derberg The problem with new (as you mentioned) is that it's not a verb :) It's just a proposition. In general, I like the idea similar to k8s edit get etc.

[2021-02-26 09:47] jotamusik commented on #1
Yeap! That's the idea, like nodemon when you are on development
,>

[2021-02-26 10:18] jotamusik commented on #1
For those who know all the specification, what types of action would you like to be able to use with the CLI?
I'm asking because I know the specification since weeks ago so I don't have that general point of view 😅

[2021-03-02 08:41] derberg commented on #1
For the editing, it is the vision of the future how it works. For sure it needs to be supported on the same level of granularity as getting information. I mean, if I can do `asyncapi get channel test/signup` then I should also be able to do `asyncapi edit channel test/sig

nup` so I do not get editor with entire document but just given channel.

Some inspiration can be found in GitHub CLI and the

[2021-03-05 10:30] jotamusik commented on #1
Today I'm going to start playing with Ink and try to make a TDD approach so the features' tests will be covered!

[2021-03-18 12:38] KhudaDad414 commented on #1
Hi, I'm Khudadad Nomani from Herat University, Herat, Afghanistan. I'm a fourth-year computer science student. I would love to work on this project as a GSoC student. Actually, I'm a little confused. I went through the guidelines and they mentioned starting working on an issue. since this project will start from zero, which other repositories would you recommend that I start working on so it helps

[2021-03-18 12:42] derberg commented on #1
@KhudaDad414 best would be if you could join our slack https://www.asyncapi.com/slack-invite/ and the #gsoc channel where we organize the work, where all students and mentors are

[2021-04-08 10:29] Souvikns opened #2 "Find difference between two spec docs"
#### Reason/Context

Would be nice to have a dedicated set of commands related to finding differences in two spec documents and generate UI, or visualizing the changes right in the command line for a quick refference.

This would provide a set of tools that could be used in the development process of event-driven process.

[2021-04-12 16:01] Souvikns commented on #1
@derberg while validating will we give support to older spec versions.

[2021-04-12 16:05] derberg commented on #1
@Souvikns our vision was always that it is better to invest in converters rather than maintain the old version. So I would say, we definitely need an option to run conversion, we forgot about it, thanks for pointing this out

[2021-04-13 08:37] Souvikns commented on #1
would like to discuss the bootstrap parameters. How will the spec document be bootstrapped, will the CLI just create an empty `yml` or `json` file with the fixed fields or create the spec file by parsing some code.

[2021-04-13 11:23] derberg commented on #2
once diff library is ready, we definitely want to have it integrated here in the CLI. I don't think anyone thought on the vision on how to do that as diff is not started yet. Ink should give us a lot of flexibility in the form we do that.

[2021-05-31 15:07] derberg opened #7 "Support passing url to AsyncAPI file"
#### Reason/Context

The initial version of CLI that we soon merge in supports files from the file system. We should support remote files as parser and generator already support it.

#### Description
- User passes `--context` as `https://raw.githubusercontent.com/asyncapi/asyncapi/master/examples/2.0.0/simple.yml`.
- Even though the parser has `parseFromURL` option, it doesn't mean that all tools

[2021-06-01 16:24] Souvikns commented on #7
Here I would like to clarify something,

When the user sets the context he then does not have to pass in the async API spec path for other commands, so context is like a global setting for the CLI.
So my question is when the user sets the context how do we persist it? If we store the spec path or the URL in the local file system then when happens when the CLI is installed globally and the user is

[2021-06-02 06:52] derberg commented on #7
context should be optional, and I still should be able to pass context with a flag in case I'm doing some automation, or working with multiple files.

context should also be smart in the way that if I do not have context set, and I do not pass `--context` command, CLI check if there are files called `asyncapi.json/yml/yaml` in workdir, and picks them up.

context should most probably be persisted

[2021-06-02 09:04] Souvikns opened #8 "Persisting context for multiple projects"
I think we should store the context as a key:value pair of the directory the command was invoked to the context path

[code]

this command will save the {process.cwd(): "/path/to/spec/file"}, this way we can persist
the context for that specific folder/workspaces.

[2021-06-02 09:17] Souvikns opened #9 "generator features"
CLI will be porting all the functionalities from the generator CLI, so as of now the supported options and commands by the generator CLI are

#### arguments
`<asyncapi> <template>`
`<asyncapi>` - path to the asyncapi file
`<template>` - template name

#### Options
- `-d, --disable-hook [hooks...]` disable a specific hook type or hooks from a given hook type
- `--debug` to enable specific errors in

[2021-06-04 09:43] Souvikns commented on #7
Will it help if CLI parses both the local file and the URL and provides the parsed spec object for other tools to use.

[2021-06-16 07:51] Souvikns commented on #8
I was thinking about the commands for setting the context and then also overriding it if the user wants. @derberg do let me know what you think about this -

To set, update and delete the context
[code]
To override the context or to use a temporary context we can have a `--spec` flag which would be a root level option.
[code]

[2021-06-16 08:05] derberg commented on #8
I very much like kubectl and not having actions as flags, have a look at https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-context-and-configuration

[code]

thoughts?

[2021-06-16 08:40] Souvikns commented on #8
So instead of flags, we use commands like
[code]
So if `context` is a command then `set` and `remove` is an argument. Still, I guess we should have a flag if the user wants to override the context in any case.

---
One thing I would like to clarify, about saving the context. As we will be saving the <filePath | URL> of the spec file.
Most users will install CLI globally where they might have diffe

[2021-06-16 09:14] derberg commented on #8
except for setting and removing, user also needs a way to list all (to know which one to set) and to check what is the current.

the best would be to save the context file as `.asyncapi` in the "home" of the user, so where all files like `.npm`, `.docker`, `.bash_profile` and others. It is the best place because long term we need to make sure `npm` is not needed to install the CLI and should check

[2021-06-17 08:29] Souvikns commented on #8
@derberg to sum up, how about these commands for the context.
[code]

[2021-06-17 08:58] derberg commented on #8
if I want to switch from context A to B, would I use `set`? or we probably need `use`, right? this is how I have it in `nvm`, I do `nvm use <node version>` after listing what I have

[2021-06-17 09:11] Souvikns commented on #8
Yeah, `use` makes much more sense, but if use is changing the set context should we have another command for creating a new context value to be saved in the `.asyncapi` file, or `use` command will update/create a new context accordingly

[2021-06-17 09:42] derberg commented on #8
`use` will be only for using existing one`, `set` will be for setting a new one (and automatically set as current). Makes sense?

[2021-06-17 09:44] Souvikns commented on #8
ok, got it. 👍🏻

[2021-06-18 12:09] Souvikns commented on #8
@derberg shall I start working on this issue 😊.

[2021-06-18 12:12] derberg commented on #8
@Souvikns I think it is about time. Just consider as small PRs as possible to make review and merge process easy, so not all commands at start.

also current `--context` flag will need to be fixed as now it points to a file and not context name, we just need another `--file` flag

[2021-07-09 07:21] derberg commented on #7
I'm closing this one, it is a bit outdated looking at what we already have better have new issue

[2021-07-09 08:23] Souvikns opened #20 "Separate module for loading spec path automatically"
#### Reason/Context
Every command works on a specification file, so loading the spec file is most of the time the first thing every command is doing so It makes sense to have a hook that returns the spec file.
The different ways the user can pass in the spec file path
- `--file` flag
- `--context` flag
- current context
- working dir

Having this feature will help the user run multiple commands on

[2021-07-09 10:25] Souvikns opened #21 "Turn CLI messages to constants"
please create another followup issue to turn these messages into constants so we reuse them in components and tests, something like https://github.com/asyncapi/asyncapi-react/blob/master/library/src/constants.ts

no need to fix it now, not related to this pr

_Originally posted by @derberg in https://github.com/asyncapi/cli/pull/14#discussion_r666844302_

[2021-07-09 10:28] Souvikns opened #22 "Improvement with help command"
feel wierd, let us leave it as it is, just use `'` instead of `"` and please create a followup issue to clear that out, maybe we actually should have `help` as command and not flag 🤔

_Originally posted by @derberg in https://github.com/asyncapi/cli/pull/14#discussion_r666839222_

[2021-07-09 12:20] Souvikns opened #23 "Running integration testing the global context file is getting updated"
#### Describe the bug
The context service loads from the .asyncapi file that is in the home directory, and when I was developing, It was kind of annoying because after the tests run I always had a new .asyncapi file. If our service takes the global context file's path as an argument I can create other dummy files for testing.

#### Expected behavior
It would be nice to configure the root context s

[2021-07-09 14:55] #8 closed

[2021-07-13 12:08] #23 closed

[2021-07-16 11:09] magicmatatjahu opened #29 "Integrate linter in project"
As project is written in JS we should integrate `eslint` linter in project like in other our repos.

AC:
- integrate `eslint` like in other JS repo - you can look on https://github.com/asyncapi/modelina repo
- fix any bugs/errors throw by linter

[2021-07-16 14:34] aayushmau5 commented on #29
Is this viable for a Good First Issue?

[2021-07-18 16:43] jonaslagoni opened #337 "Create `create-template` in AsyncAPI organization"
#### Reason/Context
Stumbled upon this and thought it would be perfect for the generator. We could offer a way to use the [init function](https://docs.npmjs.com/cli/v7/commands/npm-init) which will allow people to more quickly setup new templates.

By creating `create-template` in the AsyncAPI scope we can do the following example commands:
- `npm init @asyncapi/template --react`
- `npm init @asyn

[2021-07-19 08:21] Souvikns commented on #29
@magicmatatjahu should I put this in #28 PR or create a different PR.

[2021-07-19 08:35] magicmatatjahu commented on #29
@Souvikns No, it should be done as separate PR.

@aayushmau5 Good idea, I will add the label :)

[2021-07-19 13:24] #20 closed

[2021-07-20 07:27] Souvikns commented on #29
@magicmatatjahu shall work on this issue next?

[2021-07-20 08:08] magicmatatjahu commented on #29
@Souvikns If you want, go ahead :)

[2021-07-22 08:05] #29 closed

[2021-07-22 08:08] Souvikns commented on #21
@magicmatatjahu shall I start with this issues, next?

[2021-07-22 08:15] magicmatatjahu commented on #1
@Souvikns as the next task you can look at https://github.com/asyncapi/cli/issues/7 I mean loading the spec from remote source. For that we can rename the `--file` flag to the `--spec` flag which will fetch spec if it will be remote source or use the local file.

[2021-07-22 08:17] Souvikns commented on #1
On it 👍🏻.

[2021-07-22 08:37] magicmatatjahu commented on #21
Loading spec from remote source is more important :)

[2021-07-23 07:58] Souvikns commented on #1
@magicmatatjahu can you reopen #7 as this is a major feature. I think if we add `--spec` to load from url, we should also support contexts store URL strings. That means the contextService will have to be updated as well.

[2021-07-23 08:18] magicmatatjahu commented on #1
@Souvikns Please describe the possible solution in the reopen issue :)

[2021-07-23 09:25] Souvikns commented on #7
So I read how this is implemented in `generator`. As of now, we are storing the local path to the spec in the context from where we are loading the current context as a result we do not need to pass the file path every time as an argument.

So to support the loading spec file from the URL, we have to consider two options.
- `--url` parameter, and also update the `useSpecFile` hook that will be use

[2021-07-23 10:00] magicmatatjahu commented on #7
@Souvikns Rather than adding additional flag like `--url`, I suggest that we should change the `--file` flag to the `--spec` flag which will support both file path and url.

About your concerns:

`SpecificationFile` implements [this](https://github.com/asyncapi/cli/blob/master/src/hooks/validation/models.ts#L4) interface, so for url, we should create separate class `SpecificationUrl`.

In this sam

[2021-07-23 10:20] fmvilas commented on #7
I've seen the discussion in #1 and gonna reply here so we move the conversation to this issue. I'd not use the `--spec` option because the "spec" is AsyncAPI and the file is a **document**. I think there's a base problem with this approach we're taking on the CLI. We're "abusing" options (those starting with `--` or `-`) for mandatory things. When something is mandatory, it shouldn't be an option

[2021-07-23 10:24] fmvilas commented on #7
So I think it should be something like:

[code]

It's easy to detect if the argument `asyncapi-file-or-url` is a URL or a file.

[2021-07-23 10:35] fmvilas commented on #1
Have we considered adhering to these principles? https://clig.dev/#arguments-and-flags They seem reasonable and it's the "standard" way CLIs work.

[2021-07-23 10:35] Souvikns commented on #7
@fmvilas after persisting the context, we are able to intelligently pick up the spec path according to the `current set context` or by autodetecting any spec file from the working directory so `asyncapi validate` will automatically pick up the spec file and validate. So thus I was using the flag to override the initial choice.
Then if we have `specfile path or url` as input then should still keep

[2021-07-23 10:37] fmvilas commented on #7
Alright, I see what you mean. I think this "context" thing is gonna bite us hard in the future 😄 But it's not related to this issue so nevermind.

[2021-07-23 11:33] magicmatatjahu commented on #7
We merged PR with `--file` so quickly, my fault 😅  Probably we should rethinking the way of passing doc to the CLI.

Currently we have feature called context, where we persist the (currently only local file) document of AsyncAPI and we can perform action on that. However, overriding current doc for the given command should be also available, and by this we have `--file` flag. Passing the file path

[2021-07-23 12:45] magicmatatjahu commented on #1
Insights on the use of flags - https://github.com/asyncapi/cli/issues/7#issuecomment-885577502

[2021-07-23 12:48] fmvilas opened #34 "Suggestion: get rid of context or making it optional"
**Disclaimer:** Don't take the tone of this issue too seriously, it's just a representation of a user's frustration, not necessarily mine 😄 Read this as a story.

---

Alright! AsyncAPI has a CLI, this is cool. I'm gonna install it and validate my file.

[code]

Lovely. Let's now validate my AsyncAPI file:

[code]

Oh! My fault, I have to provide the file name:

[code]

❗ 😕

context? what the f*ck

[2021-07-23 13:32] MikeRalphson commented on #34
Or at least introduce the concept of a default context, which a simple input document will use.

[2021-07-23 14:07] Souvikns commented on #34
I really like the idea about enabling contexts, at it removes confusion for the newcomers but also keeps it for the experince users to leverage it if they want it.

[2021-07-25 19:19] fmvilas commented on #34
Yes, sorry, I had that in the issue title but somehow lost it. Changing it.

[2021-07-26 10:00] derberg commented on #34
Ouch, lots of frustrations here 😅 tell this imaginary user that I recommend 🍵 with a bit of lemon balm 😆

Keep in mind this CLI is in a super early stage of development at 0.3 release and many basic improvements are missing (like good UX messages to the user). Of course long term instead of `No contexts saved yet, run asyncapi --help to know more.` we should be much more descriptive, explaining wh

[2021-07-26 10:15] derberg commented on #34
btw, I actually checked and `asyncapi.yml, asyncapi.yaml, or asyncapi.json in the current directory` is already supported in 0.3 version. @Souvikns you are fast 🥳 💪🏼

[2021-07-26 10:17] magicmatatjahu commented on #34
Referring to the Łukasz's comment, we can treat the AsyncAPI docs as the first-citizens of the our CLI, so passing them not as flags, but as standalone arguments. Idea is described [here](https://github.com/asyncapi/cli/issues/7#issuecomment-885577502).

[2021-07-26 11:05] derberg commented on #7
@magicmatatjahu we had initial discusison on CLI here https://github.com/asyncapi/cli/issues/1 and idea where AsyncAPI document is in the center got "dropped" for now. Btw, I also do not think approach with `:` us too intuitive.

btw, I closed this issue because of `I'm closing this one, it is a bit outdated looking at what we already have better have new issue` as the description is really super

[2021-07-26 11:09] fmvilas commented on #34
Well, first of all I'd like to apologize if someone has felt offended by the tone of the message. Please don't take this personally as an attack to what's been developed so far 🙏 I thought it'd be funny to add some example of a raging user, that's why the all caps and the :rage1: and 🤦  emojis. I'm very aware this is 0.3.0 (very early stage) and not judging your work, especially @Souvikns and @jot

[2021-07-26 11:29] derberg commented on #34
With WebSocket you deal with one backend, one AsyncAPI file. With other architectures, broker-centric for example, you deal with more than just one microservice, so multiple files. Example https://github.com/amadeus4dev/amadeus-async-flight-status where you have 3 services and therefore 3 files. You do not work with these files every day, most likely from time to time, so you add them to context s

[2021-07-26 11:56] fmvilas commented on #34
Oh, I see. Thanks for explaining.

That's not how it's working. Maybe how it's intended to work?

![Captura de pantalla 2021-07-26 a las 13 33 45](https://user-images.githubusercontent.com/242119/126982311-206aed89-2d55-44b6-ab47-81bf1a87d35b.png)

Just to make a point regarding this. If it's something you only use "form time to time" it seems way too much to create a feature like contexts. It ove

[2021-07-26 12:04] fmvilas commented on #34
Nonetheless, I see a case where contexts could be useful tho. For those tools that need multiple asyncapi files as the input, it would be super useful. For instance, if we wanted to leverage https://github.com/asyncapi/app-relations-discovery from the CLI, having to pass a bunch of asyncapi files each time is not really convenient. In such case, having something like a context would be super cool

[2021-07-26 12:32] magicmatatjahu commented on #7
@derberg Ok, I agree with your point of view, however my first thought is that `--file` points to the local file, not remote, so for that I suggested `--spec` or `--doc`.

Exactly, I know about that but I also wanted to put myself in the user's shoes and see if `--file` has a good UX and check if standalone arguments would be better.

[2021-07-26 12:36] derberg commented on #7
I agree with @fmvilas that `spec` is not a good word as we do not talk about spec here. And `doc` is not bad, I just think `file` is pretty neutral. When we talk about AsyncAPIs created by users, we talk about files and documents, but I think more common is talking about AsyncAPI file, as document always has this close relation to documentation, and we know AsyncAPI is more than that. I suggest we

[2021-07-26 13:19] derberg opened #35 "Validation of default files in CWD does not work when I have no files in the context"
This is how you can reproduce it:
[code]

in case I do `asyncapi validate` and, flags like `--context` or `--files` are not passed, and there is no default context + no contexts at all, the validation of default files from CWD should work

[2021-07-26 13:24] derberg opened #36 "Hide detailed error when file not found"
There are 2 bugs related to some recent functionality:

1. When you want to add to the context a file that does not exist I get errors like

[code]

and instead, I should just see errors like `AsyncAPI file not found under ${PATH} path`

[2021-07-26 13:37] derberg commented on #34
Contexts feature is there already, optional, I don't see a point of removing it really.

As you can see in my example, you have multiple files in the context because you can add multiple contexts, just one can be the default of course:
[code]

Using some kind of name as you showed in your example, or rather a label could be good. Something to consider when we integrate relations discovery, or diff

[2021-07-26 13:39] fmvilas opened #37 "Always follow the same structure (verb + noun, noun + verb, or namespace + verb + noun)"
I think we should be following a structure, regardless of the command at hand. For instance:

[code]

Is following the `verb + noun` approach. Whereas:

[code]

Is reversing it to `noun + verb`.

In #1, I suggested we use `verb + noun` because it reads naturally. However, after thinking about how to flip contexts and how to occasionally evolve them to accept multiple asyncapi files, it seems the `

[2021-07-26 13:45] fmvilas commented on #34
🤔 Now I'm more confused then. These are different contexts, right? What I mean is having a single context with multiple asyncapi files. I don't think we're meaning the same.

To be honest, I always understood contexts as a way to have multiple files as the input for a command. That's why I thought it would be cool.

This is a good argument for contexts, I agree 👍

[2021-07-26 13:47] fmvilas commented on #34
I opened an issue: https://github.com/asyncapi/cli/issues/37

[2021-07-26 14:01] fmvilas opened #38 "Make contexts shareable"
#### Reason/Context
Currently, contexts are stored in the user's home directory. I think it would be cool to store the contexts in the repo directory so they can be shared.

#### Description
This would work the same way package.json works. The `asyncapi` CLI would seek for the file (let's call it `.asyncapi`) in the CWD and, if not found, it would look for it in the parent directory, then the pare

[2021-07-26 14:09] fmvilas commented on #34
Alright, so I think this issue doesn't make sense anymore as it seems it was already the intention to make it optional and a good and frequent use-case (when using docker-compose) has been argued. Other issues have been created to fix the exposed problems. I'm closing it but feel free to reopen if you think there's still a case.

[2021-07-26 14:09] #34 closed

[2021-07-26 19:10] derberg commented on #1
@fmvilas

You mean there is something wrong? we do follow this approach in options like `-f --file` and others. What do you mean?

[2021-07-26 19:26] fmvilas commented on #1
Nothing specific. I just wanted to raise awareness of https://clig.dev.

[2021-07-26 19:58] derberg commented on #38
I like this idea a lot!

[2021-07-27 05:49] Souvikns commented on #21
[code]

The help string also does not say what contexts are, so @derberg should we update the help text to talk about the context in a detailed manner or add have a better error message for this scenario?

I think the help message is a general version of all our commands and if we write what is a context there, it could get cluttered so shall we have command level help messages to talk about speci

[2021-07-27 07:29] derberg commented on #21
We simply need more structured and formated info, if we do it, then it won't get cluttered. Look at help section here https://clig.dev/#help and the jq example.

[2021-07-27 08:45] Souvikns commented on #21
Then I guess we can solve this issue by updating the help command or adding a context section in the help string so as to talk about what context does, and how could users benefit from it.

[code]

[2021-07-27 11:08] derberg commented on #21
we need more complex, and contextual help:

- one thing is what you wrote, have help displayed when running `asyncapi` as `git` has
- another is that we should have help on the command level, dedicated to given command only, like `asyncapi context --help`
- and when running `asyncapi validate` or any other command, and there is no default file or context, we need detailed help message that explain

[2021-07-27 11:14] Souvikns commented on #21
Does this mean the help string will now be something like this ⬇ where the help string is made up of smaller constants?
[code]

[2021-07-27 11:18] derberg opened #39 "Add a command to get a version of the CLI"
#### Reason/Context
I want to be able to quickly check what version of CLI am I using. GitHub CLI, kubectl and git support it as a command and a flag (I guess because people are just used to different ways of getting this information)

#### Description
Please try answering few of those questions
- we can have it both as command `asyncapi version` and option `asyncapi --version`
- output should say

[2021-07-27 11:28] derberg commented on #21
it depends but in short, yes 😄

help shown after calling `asyncapi` will be a combination of help shown under `asyncapi context --help` and `asyncapi validate --help` and others. So you need what you described, basically reuse help text.

In case of messages like `<Text>The context you are trying to use is not present.</Text>` you need `<Text>${CONTEXT_MISING}</Text>;` and reuse the same constant

[2021-07-27 13:08] derberg commented on #37
I suggested `asyncapi context add` and others as it feels very natural when I use the same approach with GitHub CLI. I just think the verbs might be very different per noun, so `verb + noun` would be very strange here.

the problem is that sometimes there is just no `noun`, like `validate` or `generate`, so general rule sound like `noun? + verb`

[2021-07-28 15:38] Souvikns commented on #36
@derberg I was trying to reproduce this,
I ran command
[code]
and the file path is invalid but I don't get a detailed error.

![image](https://user-images.githubusercontent.com/41781438/127352441-bd324923-8da4-4469-b21d-f3cbe0f12458.png)

[2021-07-29 10:44] derberg commented on #36
strange, maybe I see it as I use it as a global package, I install the CLI with `npm i ./ -g` so I can use `asyncapi` and not dist directly.

anyway I think it is because in this case of file not found and also when the spec file is not valid - the `throw new` error is invoked, this is why I can get stack error. Shouldn't it rather always return an error component like with other context related e

[2021-07-29 10:59] magicmatatjahu opened #41 "Add `convert` command"
Our [comverter-js](https://github.com/asyncapi/converter-js) has builded custom CLI, but we should move it to the main CLI.

AC:
- add new `convert` command to the CLI
- add tests for new command
- update docs (Readme.md) with new command
- add `--help` flag
- to discuss: should we remove `--id` flag from https://github.com/asyncapi/converter-js CLi? It's only needed between 1.X.X -> 2.X.X.

Usage

[2021-07-29 11:42] Souvikns commented on #41
Maybe we have a `--output` flag that takes a path as an input. Converts the old version to the new version and outputs in that path, and if the `--output` flag is missing we can just update the original file.

[2021-07-29 11:43] derberg commented on #41
definitely, same with generator. This is the ultimate goal of this CLI. One CLI to rule them all 😄

I would definitely like CLI to be friendly and interactive, and when you do `asyncapi convert`, you get an interactive response from the CLI with list of versions that you can convert too, so you select the version that you want manually. And of course you can skip this interactiveness with a flag l

[2021-08-02 14:39] #36 closed

[2021-08-04 18:59] fmvilas commented on #37
Yeah, that's true. Maybe we should still consider the `namespace` and make it something like `[namespace] + verb + [noun]`? Just throwing ideas.

[2021-08-05 07:14] derberg commented on #37
I have to say I'm not fully getting the `namespace` idea. What would it be?

[2021-08-05 07:25] fmvilas commented on #37
Like in this case:

[code]

It's different than:

[code]

The first one adds an AsyncAPI file to the context, the second one adds a context. The first one is, for instance, if we want to have tools like https://github.com/asyncapi/app-relations-discovery in the CLI. In that case, you don't want to manually specify all the files because they could potentially be hundreds. Does it make sense?

[2021-08-11 07:52] #21 closed

[2021-08-11 08:07] Souvikns commented on #35
@derberg shall I start with this issue next ?

[2021-08-11 08:13] derberg commented on #35
yeap

[2021-08-11 09:53] Souvikns commented on #35
## Error
When the global context file is absent, so no default context is present, and also when flags are missing but there is an `asyncapi.yml` file in the working directory, It should load that file automatically, but it is throwing `No contexts saved yet, run asyncapi --help to know more.` error.

## Cause of Error
This is happening because of https://github.com/asyncapi/cli/blob/b459c1c79f272

[2021-08-11 10:22] derberg commented on #35
I'm definitely with 2, just make sure message thrown to the user clearly explains cause and next steps

[2021-08-12 03:13] arjungarg07 opened #47 "Integrate `cupid` in the CLI"
We are going to integrate [app-relations-discovery](https://github.com/asyncapi/app-relations-discovery) functionalities into asyncapi cli which would allow users to access all the features of the library and get more work done from the terminal.

[2021-08-12 07:15] derberg commented on #47
@arjungarg07 you definitely need to provide a description mate 😆

I know you mean `asyncapi relations` but others need to know more and also the capabilities we need to take into account

[2021-08-16 13:50] arjungarg07 commented on #47
@derberg My proposition for commands usage:

[code]

[2021-08-17 08:29] #35 closed

[2021-08-17 12:23] derberg commented on #37
I case kubectl or github cli, stuff similar to context, go under `config` verb actually so it is either `kubectl config get-context` or `gh config set editor vim`. I think we should follow, as in our case context is pure config related, having it on the "root" may confuse it has anything to do with the AsyncAPI-related functionalities

We need `asyncapi + verb` no matter of above 😄 as context woul

[2021-08-17 12:27] derberg commented on #47
I think we can start with `relations` as we can refactor name easily. you might want to share your thoughts here https://github.com/asyncapi/cli/issues/37 . Just keep in mind we need to support `--files` and `--contexts` too. As for the types of outputs we need `--type` imho, so you have `asyncapi relations --files {FILES_PATH} --type plantUML`, and when you do `asyncapi relations --files {FILES_P

[2021-08-17 12:57] arjungarg07 commented on #47
What role will the `--contexts` play here, I think `relations` command would be standalone and would not be affected by contexts 🤔

Yeah, we can move forward with this 👍🏽

[2021-08-17 13:14] derberg commented on #47
context is like a file reference, so you do not need to remember the file path

so you can create a number of contexts, called file1, file2, file3 so you can do `asyncapi validate --context file1`, so you should also be able to do `asyncapi relations --contexts file1, file2, file3`

imagine you are working on this project https://github.com/amadeus4dev/amadeus-async-flight-status. You work with it

[2021-08-17 13:45] Souvikns commented on #22
@derberg does this look good.

![image](https://user-images.githubusercontent.com/41781438/129736932-6de7dd78-f03d-47df-9fee-9975cad69f75.png)

[2021-08-17 13:52] derberg commented on #22
you mean how it displays, colors, etc?

[2021-08-17 13:54] Souvikns commented on #22
yeah since we are using ink I was thinking instead of strings we can have some ink components and use colors and all to make it look appealing.

[2021-08-17 14:18] derberg commented on #22
yes yes yes! this was the main reason to actually use it, to have a ready out-of-the-box set of components to make CLI beautiful! Go ahead man and experiment!

[2021-08-17 14:54] arjungarg07 commented on #47
Got it! Super cool, so we have to support `--files` and `--contexts` too.

[2021-08-19 18:14] fmvilas commented on #37
So what would be an example? Something like:

[code]

[code]

Is it what you mean?

[2021-08-23 09:59] derberg commented on #47
would be cool that once we render in terminal the marmaid and plantuml outputs, we also render a clickable URL, so user can open it up in respective editors. That would be nifty. Also explore available Ink components, maybe there is one already that can nicely display code snippets, would be useful for the output.

[2021-08-23 10:08] Souvikns commented on #47
This is something we can check for code snippets - https://github.com/vsashyn/ink-syntax-highlight
This is for clickable URL - https://github.com/sindresorhus/ink-link

[2021-08-23 10:55] derberg commented on #37
would be `asyncapi config context add {CONTEXT_NAME} {FILE_PATH}`, now it is `asyncapi context add {CONTEXT_NAME} {FILE_PATH}`. To follow `asyncapi + verb` in case of app-replations-finder aka cupid we would need `asyncapi find-relations` or something similar, `asyncapi relate`?

[2021-08-24 11:02] Souvikns opened #53 "version command does not work for -v"
#### Describe the bug
As per the help message version command should work for both `-V` and `--version`.  As of now version command is automatically handled by meow and it only supports for `--version` string.

#### How to Reproduce
If you run the command `asyncapi --version` the version number is output but when you do `asyncapi -v` you don't get the version number as output.

- Screenshots

![im

[2021-08-30 06:21] derberg commented on #37
@Souvikns I proposed `asyncapi config context add` instead of  `asyncapi add-context` as I'm simply afraid of those hyphened commands 😄 It is like this with kubectl probably also to satisfy some main rule, but not very intuitive. This is why I'm more into having `config` verb there. Config will not only be for context. For future, where we add more functionality, like `asyncapi edit channel mychan

[2021-08-30 06:23] aayushmau5 opened #58 "Integrate `asyncapi/diff` in the CLI"
Since the [`asyncapi/diff`](https://github.com/asyncapi/diff/) library is, now, usable, we can integrate it into the AsyncAPI CLI.

My idea for the command usage:
[code]

So, we need to think about some things:
- How to output the data
- Where to output the data
- The flags which will specify the type of output

**How to output the data:**

For this, I'm thinking of having a flag `--<format>`. For

[2021-08-30 07:01] derberg commented on #2
closing in favour of https://github.com/asyncapi/cli/issues/58

[2021-08-30 07:01] #2 closed

[2021-08-30 07:12] derberg commented on #58
Hey, there is a topics covered here that are important no matter if we work on diff or not: the output

atm, library outputs on terminal only. There is no `--output` option so far. This is independent from `diff` as we need output to file functionality in many different commands, for relations finding or for optimizations. This needs to be implemented separately

regarding optional flags, we so fa

[2021-08-30 07:55] Souvikns commented on #37
Will open a PR for this just to summarize the task,
- Will be removing the file flag option and adding support for input, though context will be passed through the `--context` flag.
- Will be moving the context command in the config namespace.

[2021-08-30 08:09] derberg commented on #37
please split it into 2 PRs, one for moving context into `config`. Then another one about removing file and context flag, as I thought we agreed that technically we can remove the context flag too, right?

[2021-08-30 08:17] aayushmau5 commented on #58
Got it.

:+1:

So I guess, we will have

[code]
for file.

[2021-08-30 09:00] derberg commented on #58
asyncapi diff \<file1> \<file2l>
for file.

yup, but with clear indication which one is checked against the other, I mean if file1 is checked against file 2? or the opposite

the part about `file` flag I mentioned (that it will be removed) is something that @Souvikns will work on https://github.com/asyncapi/cli/issues/37#issuecomment-908126687

[2021-09-01 11:32] derberg opened #60 "Enable SonarCloud scans"
We scan all AsyncAPI project with SonarCloud to check for code smells, security issues and other things like it. We use their official bot for it. In case of this project we cannot do it -> https://community.sonarsource.com/t/project-is-not-analysed-as-there-is-no-code-but-actually-there-is/48747/4. We would have to make an exception here and configure dedicated GitHub Action.

So my question is:

[2021-09-01 11:46] Souvikns commented on #60
We don't really need `@sindresorhus/tsconfig` we can just create our own config.

[2021-09-02 08:57] derberg commented on #60
@Souvikns thanks!

@jotamusik can you share your opinion? you added it after all

@magicmatatjahu anything from your side sir

[2021-09-02 09:19] magicmatatjahu commented on #60
Together with @jonaslagoni we one time talked about creating something like `template-for-js-project` with `template-for-ts-project` alongside with our preferred `tsconfig.json`, but not now. I have no opinion here. If @Souvikns and @jonaslagoni think that it may be removed, just remove it, or copy the content from `@sindresorhus/tsconfig` to repo's `tsconfig.json` :)

[2021-09-03 08:56] Souvikns commented on #38
would like to start by talking about the data structure for context. All context is doing right now is storing file paths that supposedly point to a spec path. Storing it in a key-value pair. So context in general looks something like this.

[code]

`ContextService` is loading this data and providing functions to read and manipulate this. Now the problem is there is a case that the global `.asynca

[2021-09-06 11:32] fmvilas commented on #38
Yeah, I don't think it should throw an error as it's optional to have `.asyncapi` files. Much better to return `undefined` IMHO.

[2021-09-06 11:55] fmvilas commented on #7
🤔 I'm not sure I get it. I still see a clash between path and context name:

[code]

Is `my_app` a context name or a file path? What if it's an existing file but the user really wanted to use the `my_app` context?

What prevents someone from using a context name with a dot (`.`)?

Yeah, I was assuming we do some fallback but the problem persists when the provided name is **both** an existing conte

[2021-09-06 12:00] derberg commented on #7
First of all what is the probability that someone has a context with dot in a name, and that the context name is `my_app.yml`. So the risk is there but imho it is ok to accept that risk in favour of better DX. With a proper fallback strategy, it will work fine. We can have `-- debug` flag that can log more info on what is exactly happening and what was picked up. But as a response from validation

[2021-09-06 12:10] fmvilas commented on #7
Alright, let's accept this theoretically low risk and learn from real usage data 👍

[2021-09-06 13:12] derberg commented on #7
yup, in the end, CLI is still not at 1.0 release, we are breaking commands and options all the time now 😄

[2021-09-07 14:40] derberg commented on #37
so, we have an agreement here, right?

[2021-09-09 21:36] Souvikns opened #70 "Validation for available commands."
#### Reason/Context
Just what @derberg said https://github.com/asyncapi/cli/pull/59#issuecomment-915152405 it would be nice to have a validation service that prompts when the user passes any command or flag which is not intended and giving proper help messages and helping the user.

[2021-09-20 12:38] derberg opened #73 "add `watch` option"
#### Reason/Context
We need native way for watching AsyncAPI resource and reiterate given command on it. So basically `asyncapi validate -w` works in a way that whenever users introduce change in a file, validation runs on it again without invoking it.

sure user can now just install watcher like `brew install watch` and do `watch asyncapi validate`, but this should be considered as a temporary wo

[2021-09-21 10:17] Souvikns opened #76 "Better way to handle Error messages"
I and @magicmatatjahu were talking about [this](https://github.com/asyncapi/cli/pull/72#discussion_r712774008). We can improve the way error messages are handled.  Right now there are a bunch of `try/catch` blocks making the code messy. Also, the error is generated from separated places. Would be better to have a discussion on this.

[2021-09-22 08:28] magicmatatjahu commented on #76
My main idea would be to cache (buffor) errors and display them at the end of command execution. Maybe something like event sourcing would help.

[2021-09-22 14:34] magicmatatjahu opened #78 "Add `start studio` command"
In https://github.com/asyncapi/studio/issues/80 has been proposed to add the `start studio` command, which:

- should start local instance of our Studio (first we have to implement it)
- should start local instance of API - https://github.com/asyncapi/studio/issues/86
- should run a simple server that would support the filesystem to be able to read/write content from/to files

For example, a user

[2021-09-22 14:38] derberg commented on #78
we should definitely make sure to drop a message that started server should not be used on production 😄

[2021-09-22 14:40] magicmatatjahu commented on #78
Right, but I understand that from the concept of the command 😄

[2021-09-27 04:13] Souvikns opened #82 "Make CLI repo hacktoberfest ready."
### Why we should take part in Hacktoberfest?
▶ [Check here](https://hacktoberfest.digitalocean.com/resources/companies)

**With Hacktoberfest right around the corner, we need to prepare the repository. Things we need to do** -

- [ ] Add `Hacktoberfest` topic to the repository
- [ ] Create Suitable labels for hacktoberfest
  - `Hacktoberfest`
  - `hacktoberfest-accepted`
  - `spam`
 - [ ] Update

[2021-09-27 07:47] derberg commented on #82
@Souvikns yes! the most critical is 1 and 4 bullet point. Labels can be added ad hoc once they are needed. Readme update is not that important, more important is 👇🏼

have you seen this -> https://groups.google.com/u/1/g/asyncapi-tsc-members/c/SA90QCFB-TI ?

[2021-09-27 07:54] Souvikns commented on #82
I missed the email thanks for reminding me, will update the sheets when I create issues.

[2021-09-27 13:26] derberg commented on #1
this was a kick-off issue, works continues in issues dedicated to specific command so closing this one

[2021-09-27 13:26] #1 closed

[2021-10-02 07:35] magicmatatjahu commented on #9
Still valid. We need the generator command in our cli.

[2021-10-02 07:36] magicmatatjahu commented on #43
Still valid. We need the such a feature (for generator) in our cli.

[2021-10-04 05:11] Souvikns opened #86 "Update the missing arguments message"
https://github.com/asyncapi/cli/blob/9d385168166957be89cbc52692b69017c07d1dda/src/messages.tsx#L8

It should say what arguments are missing, For example for the command `asyncapi context add <context-name> <spec-path>`
The message should be something like this.
[code]

A couple of things needs to be changed -
- https://github.com/asyncapi/cli/blob/9d385168166957be89cbc52692b69017c07d1dda/src/messa

[2021-10-04 06:34] mihirterna commented on #86
I would like to work on it, can you please assign it to me ?

[2021-10-04 06:42] derberg commented on #86
@mihirterna done

[2021-10-05 08:12] #86 closed

[2021-10-18 16:56] fmvilas opened #99 "Architecture refactor proposal"
As the result of [the live stream](https://www.youtube.com/watch?v=wy1tRi8jt0A) @Souvikns and I did together discussing the CLI architecture, we came up with the following suggestion:

![Captura de pantalla 2021-10-18 a las 18 39 12](https://user-images.githubusercontent.com/242119/137772828-68315ff6-f05f-467f-bd29-67ae6a1c94d3.png)

1. OClif will do all the routing logic (yellow in the diagram).

[2021-10-19 06:37] derberg commented on #99
Well done folks. Just go ahead!

[2021-10-25 15:25] boyney123 opened #387 "Ability to regenerate functions"

[2021-10-27 15:53] #99 closed, assigned to nobody

[2021-10-28 11:09] smoya opened #104 "Collaboratively editing files through the Studio"
#### Reason/Context
Comes from https://github.com/asyncapi/cli/issues/78#issuecomment-953701036.

Imagine having the possibility to open [Studio](https://github.com/asyncapi/studio) locally through the CLI and start editing AsyncAPI files right away. This is what https://github.com/asyncapi/cli/issues/78 is about.

But in addition, imagine doing that in collaboration with some other folks in real-

[2021-11-01 17:17] fmvilas opened #106 "Add tests for "new" and "start studio" commands"
The `asyncapi new` and `asyncapi start studio` commands don't have tests. It would be great to test their functionality.

PS: To test `stdin`, have a look at https://stackoverflow.com/questions/56797392/oclif-prompt-testing.

[2021-11-01 17:42] fmvilas commented on #78
I'm closing this issue as it's already implemented in #102

[2021-11-01 17:42] #78 closed

[2021-11-02 05:37] Souvikns commented on #76
Should we close this, oclif is handling this.

[2021-11-02 09:11] boyney123 opened #111 "allow user to pick a template from the `new` command"
#### Reason/Context
Please try answering few of those questions

At the moment the `new` command generates a basic AsyncAPI for the user, but it would be nice if we asked them some more questions like:

- What protocol would you like to use (MQTT, WebSockets, HTTP, None)
- Based on what they select it generates using the correct template.

## How will this change help?

I think just more flexibili

[2021-11-02 12:26] boyney123 opened #114 "No file extension when user defines the name of the file (using new command)"
#### Describe the bug

When user uses the `new` command they can provide the filename of the file.

For example, if I put `myNewFile` as a value, the file is created OK, but no file extension is added.

I think it might be a better experience if we detect if no extension is on the file and just put the `yaml` extension of the file for them?

[2021-11-02 18:33] jjung99 commented on #114
Hi, I would like to take a look at this issue

[2021-11-02 18:56] boyney123 commented on #114
Hey @jjung99 ,

Sorry I managed to find some time earlier and got a PR raised, but be good if you fancy having a look and review it? https://github.com/asyncapi/cli/pull/117

Or if you think of a better way to do it?

[2021-11-02 19:02] jjung99 commented on #114
It is fine! I just wanted to take a look at others' projects and try to fix a bug if any for learning purposes. Thanks for the comment!

[2021-11-03 07:48] Souvikns opened #123 "readme is missing documentation for the new commands"
Oclif has a way to generate command help documentation if we are going with that we just need to set it up.

[2021-11-03 07:58] fmvilas commented on #123
Yeah, just watch out that it might generate documentation of commands separated by colons (`:`) instead of spaces.

[2021-11-03 11:01] boyney123 opened #127 "should `start studio` try and find a local file?"
#### Reason/Context

Was playing around with the CLI tool and trying to get the studio running on my machine, but when I ran `asyncapi start studio` it was asking me for `context` to be set ( I assume that is a CLI thing ).

When I run `asyncapi start studio --file=asyncapi.yml` it works as expected.

I wonder if the `asyncapi start studio` should at least try and find a local asyncapi file in the

[2021-11-03 11:05] boyney123 opened #128 "`asyncapi start studio --file=random-file-that-does-not-exisit` launches studio but then displays a message that the file cannot be watched"
#### Describe the bug

If you run the command `asyncapi start studio --file=random-file-that-does-not-exist` (for a file that does not exist) the studio will continue to open (with default spec) and the terminal will give an error.

[code]

I think it might be a better developer experience if we just failed and not launch the studio?

[2021-11-03 11:20] jonaslagoni opened #129 "Integrate modelina to generate models"
#### Reason/Context

Sometimes you just want to generate the data models for the payloads in your AsyncAPI file, therefore I would like to integrate Modelina with the CLI, so we can offer an easy way for users to generate them.

#### Description
As a start, I would like to integrate it with no customization, at least for now, so you can only select the output language and nothing more.

But which

[2021-11-03 11:37] boyney123 commented on #129
@jonaslagoni like the idea!

How will it know which file to use?

[2021-11-03 11:45] jonaslagoni commented on #129
Without knowing any depth of the implementation from a CLI side of things, I assumed you would use the context?

Or would it need to use `asyncapi generate models --file=./myfile.yaml --language=ts`? 🤔

[2021-11-03 11:54] boyney123 commented on #127
Any thoughts on this @jonaslagoni @Souvikns?

Or maybe I'm not understanding how context works

[2021-11-03 12:09] jonaslagoni commented on #129
Also, one point to consider, since Modelina, don't only support AsyncAPI documents as inputs, I guess through the CLI it should be possible to provide other input types as well, or?🤔

[2021-11-03 12:11] boyney123 commented on #129
I'm not sure, where do the boundaries start and stop. Given it's the `asyncapi` cli, I think it should just handle the related inputs personally (asyncapi files) or at least to start?

[2021-11-03 12:12] jonaslagoni commented on #127
Good question, I see pros and cons for both tbh.

I guess the question falls back to, what is the best user experience when you need to perform actions with specific (or multiple) AsyncAPI documents.

I could see it as being a mix tbh. Where if you want to use context use that, or if you want to specifically provide an input to a specific command, you should be able to do that.

Regarding this iss

[2021-11-03 12:19] derberg commented on #127
`asyncapi start studio` should be consistent with the rest of the CLI. There was and I hope still is 😄 a fallback mechanism for loading AsyncAPI file, it basically looks for context, default file `asyncapi.yml` in the context of where command is run, etc!

so yes, we should do automatic for the use, same as in other commands, but also allow to pass `--file` or `--context` flags to overwrite defaul

[2021-11-03 12:29] boyney123 commented on #127
Ahh yeah I just was reading around and found that is already does fall back to files (well tries too).

https://github.com/asyncapi/cli/blob/master/src/models/SpecificationFile.ts#L43

Looks like this line is happening before https://github.com/asyncapi/cli/blob/master/src/models/SpecificationFile.ts#L50

When nothing it passed it will go to load context and just fail if nothing is there, I think

[2021-11-04 04:57] Souvikns commented on #127
Yeah, cli first tries to load context from the global context store and if it fails it checks in the file system for a file naming `asyncapi.yml`, `asyncapi.yaml` or `asyncapi.json`.

@boyney123 here the CLI persists some files paths in the context which is just a `.asyncapi` file in the homedir. If file path is not present then cli checks this to determine the file path and if this file is missin

[2021-11-04 05:29] Souvikns commented on #127
Yeah, I checked, and even if you don't have the `.asyncapi` file in your homedir it is not looking into the working directory but failing instead.

And this is happening because of this

https://github.com/asyncapi/cli/blob/a5311ffefe895ba72db5240da18470ca97bd016b/src/models/SpecificationFile.ts#L42-L48

specifically in line
https://github.com/asyncapi/cli/blob/a5311ffefe895ba72db5240da18470ca97bd

[2021-11-04 09:09] boyney123 commented on #127
Thanks for looking @Souvikns

Yeah I think the fix would be just moving the two parts around, I can raise a PR for this to see what you think

[2021-11-04 09:11] boyney123 commented on #127
Made a fix here : https://github.com/asyncapi/cli/pull/130

[2021-11-08 10:00] boyney123 commented on #111
Added code in #131

[2021-11-08 14:49] aayushmau5 commented on #58
Now that the migration to Ocliff is done, I will start working on this. Hope to make a PR by the end of this week.

[2021-11-08 14:58] Souvikns commented on #58
Yeah sure, let me know if you need anything.

[2021-11-10 13:31] aayushmau5 commented on #58
@Souvikns Does the CLI have the ability to output data into files? Since, Lukasz said that this functionality should be a separate implementation independent of the command.

[2021-11-11 05:01] Souvikns commented on #58
hmm, it doesn't.

Yeah, you should create a wrapper around diff and connect it with CLI. For a little context, the CLI is [this](https://github.com/asyncapi/cli/tree/master/src/commands), so you just need to create a function wrapping your `diff` library and create a new command for it.

Can you give me some context on what kind of output diff is generating? As of now, all output is printed in the

[2021-11-11 05:18] arjungarg07 commented on #47
Since the migration to Oclif is completed, I have started working on this.

[2021-11-11 05:23] Souvikns commented on #47
Yeah sure go ahead, let me know if you need any help.

[2021-11-11 13:32] aayushmau5 commented on #58
Right now I'm just generating the default json output.

[2021-11-22 17:06] GeraldLoeffler opened #142 "feat: create a parser plugin to support RAML 1.0 data types as a schema format"
The AsyncAPI spec has been supporting **RAML 1.0 data types** as a RECOMMENDED schema format for some time:  spec (https://github.com/asyncapi/spec/blob/master/spec/asyncapi.md#schema-formats-table . However, the CLI currently does not seem to use a parser plugin for this schema format (see https://asyncapi.slack.com/archives/CQVJXFNQL/p1637599807269900?thread_ts=1637599687.269800&cid=CQVJXFNQL):

[2021-11-22 17:08] jonaslagoni commented on #142
Related docs for parser: https://github.com/asyncapi/parser-js#example-using-raml-data-types

[2021-11-22 17:25] derberg commented on #142
hint for whoever will work on this:
- also add openapi and avro plugins
- this is how you register them https://github.com/asyncapi/generator/blob/master/lib/generator.js#L60-L62

[2021-11-23 16:43] derberg opened #148 "not getting the right error when calling `asyncapi validate` or `asyncapi start studio` without context and without file in work dir"
When I have no context and no asyncapi file in my work dir I get: `ContextError: No context is set as current, please set a current context` but should get:

[code]

I think we need to pull https://github.com/asyncapi/cli/blob/master/src/errors/validation-error.ts#L19 to more generic error and also fix https://github.com/asyncapi/cli/blob/b9cc9388d0aac81caa8d5bd9322b4c430127cb53/src/models/Specifi

[2021-11-24 09:37] Souvikns commented on #127
I think we can close this issue now right?

[2021-11-24 10:20] boyney123 commented on #127
Yeah thanks @Souvikns

[2021-11-24 10:20] #127 closed

[2021-11-24 14:56] jonaslagoni commented on #129
Yea, I agree. Lets just focus on AsyncAPI files and see where it goes 👍

[2021-11-24 15:28] derberg commented on #129
are you sure about `models` here `asyncapi generate models`? what about generator itself, how would it be called? `asyncapi generate template`? -> I'm afraid user experience depends on how underlying libraries are structured

shouldn't it be `asyncapi generate filepath/contextname model/template --parameters/--options` ?

[2021-12-08 10:24] derberg commented on #129
except of `@asyncapi/template` is just confusing 🤔 as it is not a command :( it is an argument that might be different depending on what template you want to use. Also template cannot be a flag as options should not be mandatory 🤔

Have a look at https://github.com/asyncapi/cli/pull/143 and another use case for `asyncapi generate`

[2021-12-09 12:29] peter-rr commented on #41
Hi all! 👋  @magicmatatjahu @Souvikns @derberg
I've been having a look and investigating a bit on this issue and I'd like to start working on it as a starting point to contribute to the CLI repo. If no objections from your side, please let me work on it and I'll get back to you with a proposal as soon as I have some working code 💪 Cheers!

[2021-12-09 12:41] derberg commented on #41
@peter-rr go ahead mate!

[2021-12-14 12:49] Souvikns opened #161 "We need a local server for mocking our tests."
#### Reason/Context

This issue is related to https://github.com/asyncapi/cli/pull/110#discussion_r768405925

[2021-12-14 14:10] derberg opened #162 "Improve help message with list of available examples"
#### Reason/Context
Doing `asyncapi new --file-name=asyncapi.yml --example=default-example.yaml --no-tty` us super cool, but to get `default-example.yaml` you need to navigate to CLI installation, go into `assets/examples` and see the list of examples, or check if they will be listed in the interactive mode. You also need to kind of guess if example name is just the file name or filename with its

[2021-12-21 12:50] derberg commented on #129
how about (especially looking at the PR mentioned above by @fmvilas that relates to @arjungarg07 work):
[code]

thoughts? who cares about the dependencies, in which command what tool is used, cupid or modelina?

we would only need to leave the gate open for folks with custom templates 🤔
[code]

[2021-12-21 13:27] jonaslagoni commented on #129
I think that makes sense! Even if we change it later it should not be a problem, we just need to start with something that makes sense 😄

[2021-12-28 14:58] derberg opened #168 "Enable users to use CLI without installing NodeJS"
#### Reason/Context

AsyncAPI CLI is supposed to be a tool that exposes all asyncapi tools to the community and makes it easier for the community to work with AsyncAPI files. This means it must be easy to access for folks that are not NodeJS fans and we should not force users to install NodeJS.

#### Description

### Brew for MacOS
Get us in brew and then automate release of upgrades. I already op

[2021-12-28 14:58] derberg commented on #168
@jotamusik @Souvikns @magicmatatjahu @boyney123 what do you think folks?

[2021-12-28 15:02] jotamusik commented on #168
I haven't done this before but the idea is great! 😛

[2021-12-28 17:29] paulRbr opened #169 "“Nil” binding object crashes the editor"
#### Describe the bug

“Funny” enough we were caught by the same bug in our project @bump-sh, and wanted to test it in the AsyncAPI studio to discover the bug is also present here. When providing a `null` object as value of a server binding object (or channel binding object), the editor crashes.

#### How to Reproduce

Add bindings to a **valid** server object, add an entry with `sqs: ` (for insta

[2021-12-29 01:37] Souvikns commented on #168
oclif has something for releasing https://oclif.io/docs/releasing

[2022-01-03 09:20] magicmatatjahu commented on #168
You already mentioned this idea in our conversation one time. I think it's great. Go ahead! :)

[2022-01-04 07:43] #7 closed

[2022-01-07 17:33] fmvilas commented on #38
Removing `stale` label as we still plan to implement this. If someone is up for this, it's a good one!

[2022-01-07 17:40] fmvilas commented on #37
I'd say so. We probably have to document it somewhere in the repo. WDYT?

[2022-01-12 12:38] derberg commented on #37
I think what we have here is enough -> https://github.com/asyncapi/cli#command-structure-and-patterns

[2022-01-12 12:51] derberg commented on #70
yup, still needed, we use https://www.npmjs.com/package/levenshtein-edit-distance already in generator -> https://github.com/asyncapi/generator/blob/master/lib/templateConfigValidator.js#L67

it is pretty nifty and should not be difficult to add I think

[2022-01-17 01:18] jonaslagoni opened #184 "Make it easier to create templates and glee projects"
#### Reason/Context
We have had talks before about making it easier to create new generator templates [through something like `npx create-asyncapi-template`](https://bonsaiilabs.com/create-npx-starter-command/). However, I think that our CLI could fulfill that role to offer a better user experience for developers, to easily bootstrap new templates or glee projects.

What do you think, does it fit

[2022-01-17 08:23] derberg commented on #184
imho yes, AsyncAPI CLI should be a single place where we integrate all AsyncAPI tools to make work from the terminal a pleasure. So folks install just one tool to use all the others. One 💍 to rule them all 🤓

it is just a matter of coming up with proper command names and good DX

[2022-01-17 17:33] derberg commented on #60
it is already done, @sindresorhus/tsconfig removed, and check run

[2022-01-17 17:33] #60 closed

[2022-01-18 07:40] derberg commented on #168
We are almost there on brew, just need to increase some numbers on starts, forks and watchers here on the repo. But formula is ready -> https://github.com/Homebrew/homebrew-core/pull/92115#issuecomment-1014776244 and once it is there I will provide CI automation to regularly update it with latest.

Anybody knows anyone with Windows that could handle the same for `chocolatey`?

[2022-01-23 07:07] Souvikns opened #192 "CLI is breaking in production!"
#### Describe the bug
CLI is working fine in the development environment, but in production, it is breaking, no command is usable and most probably this is happening because of some plugin issue.

![image](https://user-images.githubusercontent.com/41781438/150667224-19b7c363-913f-4853-88a5-efa0d4857c05.png)

[code]

#### How to Reproduce
Since we are not using `oclif-dev pack` there is no way to r

[2022-01-23 12:09] imabp commented on #184
Hey, this sounds amazing!! 🤩
Would like to work on this.

[2022-01-23 12:16] imabp commented on #192
I guess this can help.
https://github.com/heroku/heroku-cli-addons-admin/issues/28

[2022-01-23 14:05] jonaslagoni commented on #184
Would `bootstrap` make sense? 🤔

[code]

[2022-01-24 09:57] derberg commented on #184
I think `scaffold` is more accurate technical word that would explain what is done, not sure `bootstrap` is correct 🤔

can you provide some more explanation of what each command would actually generate?

[2022-01-24 12:42] imabp commented on #184
Yes @derberg , `scaffold` sounds less confusing than bootstrap.

So I was thinking to start it with, something like support of Async API for NextJS API Directory.
Objective:
The user can create NextJS Serverside Asynchronous APIs from the AsyncAPI spec file.

Assuming, AsyncAPI and NextJS are installed globally.

Steps
1. User should be able to run ->
`asyncapi scaffold nextjs --output <NextJS_API

[2022-01-24 14:15] imabp opened #198 "Update Doc: Instructions for editor setup and auto linting."
#### Reason/Context
Please try answering a few of those questions
- Why do we need this improvement?
Improves Developer Experience, by auto-linting before any commit is made.

- How will this change help?
Adds auto-linting before any commit is made locally. Developers need to focus on the code, not on linting.
Also removes, the occurrences of unnecessary future commits which just includes linting.

[2022-01-24 17:54] fmvilas commented on #184
What about `new`? We already have it and would be just a matter of extending it:

[code]

[2022-01-24 18:19] imabp commented on #184
`new` sounds more relevant to the scope ✌ .

We can add a code generator  for different frameworks too
For example:->  NextJS, which requires customization to NextJS Formatted Code and Directories for APIs.

[2022-01-25 09:56] derberg commented on #198
I'm not a big fan of doing things like this as it is kind of invasive for folks that are used to work with git in the way that they commit often. I used husky in one of project, only because of required bundle generation, that I was always forgetting on a PR level and releasing without it. And it was always annoying me 😆

I personally do not have problems with running linter as I have my VSC confi

[2022-01-25 11:00] imabp commented on #198
Yes, we can work out whatever works for now 😅
May be documenting whats required, will also  help :)

[2022-01-26 11:02] boyney123 commented on #198
Hey,

Yeah an interesting one really, I've been on projects with both limiting with husky and also post-commit linting (With CI etc), I think what I have learned is it comes down to preference really, some like one over the other, I can see why both are useful...

I have VSCode setup like @derberg which will lint and fix things on save for each project, so I never really run into these issues, so

[2022-01-26 11:20] Souvikns commented on #198
As we have linting checks in CI I don't think we need anything else, but we could add docs to help people setup linting in their editors ( 😄  would help me as my vs code is not configured for linting and I manually do `npm run lint:fix` ).

[2022-01-26 18:10] imabp commented on #198
I guess, its good to go with updating read me with necessary changes :)
🚀

PS: _Changed the title_
@Souvikns @boyney123

[2022-01-27 10:03] Souvikns commented on #192
I was trying to find from which release this error started and what I found is interesting -

<details>
<summary>The CLI works, just throws that warning for some reason. </summary>

![image](https://user-images.githubusercontent.com/41781438/151336356-603a6cad-193f-4579-bec1-8eec52fdc72a.png)

</details>

<details>
<summary>v0.7.0 was our first oclif release, and we have the same issue but the hel

[2022-01-27 14:25] derberg commented on #184
`new` sounds good to me, simple.

[2022-01-28 19:30] jonaslagoni commented on #184
Same here 🎉

[2022-01-30 17:01] BOLT04 commented on #123
Hi @Souvikns 👋, automating this would be really interesting so that when we add new commands, the docs on the `README` are automatically updated. I had a look on the `package.json` and there is already a script for the readme, are we already using it on GitHub actions?

I'd like to help with this issue if no one is working on it 🙂. I messed around with `oclif readme` command to see the output, and

[2022-01-31 02:57] Souvikns commented on #123
Awesome @BOLT04 the generated docs are correct 👍🏻. No one is working on this issue as of now so you can take it up.

Yeah the CLI is kinda breaking in production but it works fine in the development and you can just clone the repo and run `/bin/run` in the project to run the CLI. Currently working on https://github.com/asyncapi/cli/pull/203 to fix the issue. I think you have to wait for this as we

[2022-01-31 08:02] derberg commented on #123
the only problem with the generated stuff is `:` that should be spaces. So `asyncapi config:context` is actually `asyncapi config context`

[2022-01-31 08:13] Souvikns commented on #123
The new version has some inbuilt support for [topic separators](https://oclif.io/docs/topic_separator) maybe this would help.

[2022-01-31 15:05] imabp commented on #73
Do you mean Native as the NodeJS Runtime or based on operating system?

- If NodeJS Runtime, an oclif `hook` is required to watch over the file and run the command using nodejs built in module `fs.`  [here](https://nodejs.org/docs/latest/api/fs.html#fspromiseswatchfilename-options)

Would like to take up this issue :)

[2022-01-31 15:16] derberg opened #205 "Fetching examples from master causes errors during release"
#### Describe the bug
because of
[code]

that is in https://github.com/asyncapi/cli/blob/master/scripts/fetch-asyncapi-example.js#L9 script, we will always have few hours during spec release where CLI will fail in development, on ci/cd. It is because it is fetching stuff from master, that was already released, like now, we released spec 2.3. But CLI is not updated with parser that supports 2.3 cau

[2022-01-31 20:04] BOLT04 commented on #123
ok, then for this issue we'll wait on #203 👍 . Then setup the `topicSeparator` on the package.json and build a new workflow to automatically run this script when there is a `push` to `master`. The next step would be to open a PR with those changes to be merged.

Is there a better way to run this script what does everyone think?

[2022-02-01 10:01] magicmatatjahu commented on #129
Solution that we should consider for that issue https://github.com/asyncapi/community/issues/249 It's only an idea so please treat it as suggestion, not final approach. Feel free to comment :)

[2022-02-01 10:01] magicmatatjahu commented on #58
Solution that we should consider for that issue https://github.com/asyncapi/community/issues/249 It's only an idea so please treat it as suggestion, not final approach. Feel free to comment :)

[2022-02-01 10:01] magicmatatjahu commented on #47
Solution that we should consider for that issue https://github.com/asyncapi/community/issues/249 It's only an idea so please treat it as suggestion, not final approach. Feel free to comment :)

[2022-02-02 08:30] Samridhi-98 commented on #106
![image](https://user-images.githubusercontent.com/54466041/152118870-3cf312f8-d744-421d-ad1a-37d8de6f7bf2.png)

@fmvilas  I am getting this error while setting up locally.

[2022-02-02 08:55] fmvilas commented on #106
Would you mind submitting a pull request? It's hard to understand the problem like this 🙂

[2022-02-02 16:27] ron-debajyoti commented on #70
Hey, can I take this up?

[2022-02-03 06:37] #37 closed

[2022-02-03 06:38] derberg commented on #70
@ron-debajyoti definitely 👍🏼

[2022-02-06 14:46] imabp commented on #73
A question @derberg
Do we need `watch` option as a global flag, or specific to `validate` ?

[2022-02-06 18:43] imabp commented on #205
Hey @derberg I hope this fix works :  #213

[2022-02-07 08:25] derberg commented on #73
best would be if it is global but that you need to enable it for given command 😄

so validate, diff, should have it, but new, start not really. So would be awesome to have it generic in a sense that when we add new generate command, we easily enable watch for it

[2022-02-07 08:28] imabp commented on #205
Hey @derberg
The latest release of cli (v0.13.0 ), supports parser version  1.14.0 which supports the spec version 2.3.0
If we are following this pattern.

<table>

<tr>
<td>parser</td>
<td>spec</td>
</tr>
<tr>
<td>1.13.x</td>
<td>2.2.x</td>
</tr>
<tr>
<td>1.14.x</td>
<td>2.3.x</td>
</tr>
</table>

Using this pattern, `MAJOR.MINOR.PATCH` it seems

for every  `MINOR` update in spec,  there is `MINO

[2022-02-08 18:45] derberg commented on #73
we already do some watching here https://github.com/asyncapi/cli/blob/058114c50acf9bcf292547cfd884e2895cff7c90/src/models/Studio.ts#L17.

so it is a matter of making a global function that can be reused by a command that needs it

[2022-02-08 18:50] imabp commented on #73
That means the flow goes like this 👇

1. Create a global function for watch using `chokidar`
2. Conditional check `--watch` flag
3. If conditional check is true run the global function.

Correct me, if somewhere missing any point

[2022-02-08 18:58] derberg opened #218 "Add `asyncapi optimize` command"
#### Reason/Context

We need to enable the community to use all AsyncAPI tools in CLI if only possible -> https://github.com/asyncapi/optimizer

#### Description

- add new command `asyncapi optimize` that uses https://github.com/asyncapi/optimizer and enable users to optimize single AsyncAPI file
- user should be able to pass one files to the optimizer `asyncapi optimize <context/filepath/url>` (

[2022-02-08 18:58] derberg opened #219 "Add `asyncapi bundle` command"
#### Reason/Context

We need to enable the community to use all AsyncAPI tools in CLI if only possible -> https://github.com/asyncapi/bundler

#### Description

- add new command `asyncapi bundle` that uses https://github.com/asyncapi/bundler and enable users to bundle multiple AsyncAPI files into one
- user should be able to pass multiple files to the bundler `asyncapi bundler <context-1/filepath

[2022-02-08 20:39] imabp commented on #73
@derberg please review, #220
Relax and watch specification files @derberg 🍻

[2022-02-09 06:57] imabp commented on #73
@derberg The watcher PR is ready to review: #220

I got a bit in stuck moment when writing test for `--watch` flag using Mocha, @fmvilas because
- Mocha is unable to close the stream once the test is completed, (as watch mode works in stream), hence `npm run test` runs for indefinite period of time.

Need some solutions on how do we approach it? Mocking Streams or any other way ?

[2022-02-09 08:25] derberg commented on #73
tbh I'm not sure, I would first try to check if chokidar community figured it out already, maybe something is already in their issues, or you can check others that use chokidar and how they solved testing. I would go first this direction to see how others tacked it

[2022-02-09 11:33] jonaslagoni opened #226 "Add all-contributors section in readme"
#### Reason/Context
In order to highlight all the amazing people who make this library possible, we to add the all-contributors section as we have in all of the other repositories.

Follow https://allcontributors.org/docs/en/cli/usage#all-contributors-init to initialize and add contributors.

Similar PR was done in the website repo: https://github.com/asyncapi/website/pull/460

[2022-02-09 11:34] ron-debajyoti commented on #70
Hi @Souvikns ,
I was exploring to fix the issue, but I can't really figure out where do I catch the mismatch of the commands.

For example :
- when I try to run `asyncapi validate wrongCommand` or a command where I use one of the supported commands but a wrong input parameter, then the `catch` function in `src/base.ts` catches it, but
- when I try to run `asyncapi invalidCommand`, I don't see the

[2022-02-09 11:34] jonaslagoni commented on #226
I think this makes a good first issue, can anyone assign it the label?

[2022-02-09 11:54] magicmatatjahu commented on #226
@jonaslagoni as I see Łukasz will add it https://github.com/asyncapi/cli/pull/223 😆

[2022-02-09 11:55] jonaslagoni commented on #226
Ah 😆 Perfect 👌

[2022-02-10 03:10] Souvikns commented on #70
Yeah, you are right if there isn't a class in the commands folder then oclif handles it. You can refer to [this](https://oclif.io/docs/error_handling). Also, check [this](https://oclif.io/docs/plugins) out for this issue, there are some premade plugins that would help us achieve this.

[2022-02-10 09:52] #148 closed

[2022-02-11 15:19] imabp commented on #226
I guess we can close this issue @jonaslagoni  😄, you can see the latest changes :)

[2022-02-11 15:20] #226 closed

[2022-02-11 18:29] imabp opened #231 "feat: asyncapi flag `--webhook`"
#### Reason/Context
Please try answering few of those questions

**We need to know from the community, if there is a need and use case, then only I want to work on this.**

- Why we need this improvement?
1. There is no way, how to send notifications to multiple systems, (slack, discord, any webhook service) when any command fails in an in house CI, without exposing logs.

- How will this change h

[2022-02-13 04:49] imabp commented on #231
Yes you are right @jonaslagoni. The flag is not useful, for customization
It is more for simpler needs, and reduce the code required from developer.

Will wait for your final remarks, before closing this. @jonaslagoni 😅

[2022-02-13 04:52] imabp opened #232 "[📑 Docs]: feat asyncapi typedoc"
### What Dev Docs changes are you proposing?

More details about the documentation structure is at:
https://github.com/asyncapi/website/issues/602

Creating this issue, more for tracking it in cli itself and working on it.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-13 12:38] #198 closed

[2022-02-14 10:12] imabp opened #233 "feat: integration-service and integration-config-template for AsyncAPI CLI"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
Currently, every command has to be separately integrated, like diff, validate, so to avoid this manually adding things everytime, why not design an `integration-configuration-template` and `integrationService` which will be used to add more integrations to cli, and probably less work we have to do..

-

[2022-02-14 10:54] magicmatatjahu commented on #233
I don't understand one thing, is this integration to be done in cli itself or on the library side? If on the cli side why call it an integration and not a command?

Similar idea: https://github.com/asyncapi/community/issues/249

[2022-02-14 11:01] imabp commented on #233
Yeah, thats the crux, we need to build the integration-config inside the respective libraries, and the format of integration-config will be decided by cli.

[2022-02-14 11:48] magicmatatjahu commented on #233
Thanks! So I think that we should go with https://github.com/asyncapi/community/issues/249 direction. We don't only have CLI but also Studio and ServerAPI to make integration. Also I'm not fan to create such a command, because it's a copy paste of simple file. We should rather focus on discussing how to do this generically, not just looking at the CLI but at the overall problem of integration in o

[2022-02-14 12:31] #233 closed

[2022-02-18 13:20] imabp opened #234 "handling unhandledRejection for support of nodejs version < `15.x.x`"
With introduction to NodeJS 15 blog
https://developer.ibm.com/blogs/nodejs-15-release-blog/

All unhandled rejections will be treated as strictly as errors , instead of warnings. Hence the process will be closed.

This is directly affecting our cli watcher for nodejs < 15 and nodejs > 15, as mentioned here https://github.com/asyncapi/cli/pull/220#issuecomment-1044498676

@magicmatatjahu has sugges

[2022-02-18 19:37] imabp commented on #234
Oops @ritik307 , I can update you on this...
I am working on it, post the watcher PR #220   ...as this issue has a dependency on it

But if needed help, I would definitely update here. 😊

[2022-02-18 19:38] ritik307 commented on #234
Sure no problem 😊

[2022-02-19 10:24] ritik307 commented on #128
@boyney123 @Souvikns I would be great so if no one is working on it I would like to take this issue.

[2022-02-19 16:34] Souvikns commented on #128
Sure @ritik307 you can take up this issue, now is working on this as of now. 👍🏻

[2022-02-21 03:23] Souvikns opened #235 "Have pipeline to create assets for different operating systems"
Right now the only way to install `@asyncapi/cli` is through npm and it also depends on nodejs. Would be nice to have a pipeline that would generate different standalone tarballs according to the most popular operating systems.

#### Description
1. [Oclif](https://oclif.io/) helps us create installers for mac,windows and linux. [read here](https://oclif.io/docs/releasing).
2. All we need is to cre

[2022-02-21 12:19] imabp opened #236 "Improve Logging by introducing Logger Interface"
#### Reason/Context
To know more, why we need this, I recommend to read the review by @magicmatatjahu, and this is a follow up issue from this PR. https://github.com/asyncapi/cli/pull/220#pullrequestreview-888600602

A logger interface will definitely help to show better and meaningful logs, having a call to action for the interface.

PS. I can work on this once #238 is merged @magicmatatjahu

[2022-02-21 13:01] imabp commented on #234
@magicmatatjahu ,just curious, how do we start working on this now.
You have any design suggestions?

[2022-02-21 14:56] imabp commented on #73
@derberg, we can close this issue, as #220 is merged :)

[2022-02-21 15:00] imabp commented on #236
@magicmatatjahu
I was thinking to use, Pino for logging, https://www.npmjs.com/package/pino ..
Wdyt?

---
_PS. I choose to work on this, at 1/4th of my time capacity, because it is kind of maintenance work and more important features, need to be focussed on_

[2022-02-21 15:01] imabp commented on #235
Definitely want to work on this.

[2022-02-21 16:08] ron-debajyoti commented on #70
Hey @Souvikns , sorry for not responding to this earlier.

I looked into the plugins and figured using `@oclif/plugin-not-found` would solve the problem. I tried installing it and also `@oclif/plugin-help`, but I'm getting plugin module errors during executing. Trying `prepack` also showed the import errors.

The error looks like this :
![Screenshot from 2022-02-21 21-35-40](https://user-images.gi

[2022-02-21 16:31] Souvikns commented on #70
There is a bug, CLI is breaking in production, it runs fine but shows a warning, you can look into https://github.com/asyncapi/cli/issues/192. We are migrating to a new version of oclif https://github.com/asyncapi/cli/pull/203. Can you merge this branch and try once.

Let me know if this problem is resolved.

[2022-02-21 17:44] ritik307 commented on #128
@Souvikns I have doubts, how can I test my changes?

[2022-02-21 18:07] ron-debajyoti commented on #70
Yep, it worked!

So since you're waiting for that PR to get merged, do I open a PR too for this issue?

[2022-02-22 06:03] Souvikns commented on #128
@ritik307 if you have written any test scripts you can just run `npm run test` and to run the CLI locally you can run run `./bin/run` and if this does not work for you try running `node ./bin/run`.

[2022-02-22 06:15] Souvikns commented on #70
Yeah @ron-debajyoti you can go ahead and open a PR.

[2022-02-23 14:06] aykonsvk opened #244 "Studio 404 not found"
#### Describe the bug

I get this error:
[code]

but browser opens up and shows message` 404 - The requested path could not be found`

#### How to Reproduce

- installed locally/globally using `npm install  @asyncapi/cli`
- when I got first error with oclif, I added more packages.

[code]

- run `./node_modules/.bin/asyncapi start:studio`  or `./node_modules/.bin/asyncapi new`

the guide to create

[2022-02-23 14:28] Souvikns commented on #244
@aykonsvk currently CLI shows this warning in production but the development environment works fine you can check this https://github.com/asyncapi/cli/issues/192 I already have this updated oclif to its latest version which you can check https://github.com/asyncapi/cli/pull/203 , we haven't merged this yet since some other PR's will break so waiting for now.

I am having issue reproducing the bug

[2022-02-28 13:03] #106 closed

[2022-02-28 14:12] Samridhi-98 commented on #106
@Souvikns  The issue is partially fixed as the `start studio` PR #227 review is still pending.
Please review it as well 🙂

[2022-03-01 14:06] derberg commented on #235
@imabp I have it in progress already -> https://github.com/asyncapi/cli/pull/187

[2022-03-01 14:06] derberg commented on #73
@imabp well done 👏🏼

[2022-03-01 14:06] #73 closed

[2022-03-01 14:07] imabp commented on #235
Awesome!! 🥳

[2022-03-01 23:42] aykonsvk commented on #244
I tried it when installed @asyncapi/cli as devDependency locally or globally using the mentioned command above and the result was same. Error and 404.

[2022-03-03 09:55] Souvikns opened #251 "v1.0.0 planning"
I am opening this issue to plan for CLI v1.0.0 release. There is no set date for v1 this is just to plan and track our progress. We can have a date if everyone decides on it, but I think it is too early for that.

### Must Have

- [x] https://github.com/asyncapi/cli/issues/9
  - [x] https://github.com/asyncapi/cli/pull/221
- [x] https://github.com/asyncapi/cli/issues/41
  - [x] https://github.com/

[2022-03-03 11:45] fmvilas commented on #251
Great initiative, Souvik 👏

[2022-03-05 16:06] imabp commented on #251
Thank you @Souvikns I was really waiting for this roadmap ..
Let's push it.

Also @Souvikns  please add this to the above list, as its done now.
- [x] https://github.com/asyncapi/cli/issues/73
  - [x] https://github.com/asyncapi/cli/pull/220

[2022-03-06 16:16] alceil commented on #218
Hey @derberg , I am Ashish Tom, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-07 05:31] KhudaDad414 commented on #218
@alceil that's great. If you have any problems or questions regarding the tool itself, please do let me know.

[2022-03-07 06:06] ravikrshn commented on #219
I would like to work on this issue.

[2022-03-07 06:19] AMANKANOJIYA commented on #219
I would like to work on this issue as part of Openforce 2022

[2022-03-07 06:59] KhudaDad414 commented on #192
@Souvikns I see the error log is initiated from `fmvilas\oclif-plugin-spaced-commands` plugin. can't we use [topic seperator](https://oclif.io/docs/topic_separator) instead of this plugin and see if it resolves the issue?

[2022-03-07 07:01] Souvikns commented on #192
Yeah, @KhudaDad414 we merged this https://github.com/asyncapi/cli/pull/203 and now we have moved to `topic separator`. For some reason, it did not trigger a release though

[2022-03-07 08:42] sudoshreyansh commented on #219
I want to work on this issue as part of OpenForce 2022

[2022-03-08 11:28] imabp commented on #244
As @Souvikns mentioned, we are waiting for PRs to get merged, to make sure, this error no more goes in to production release.

But for now, @aykonsvk feel free to follow these steps to run locally.
`git clone https://github.com/asyncapi/cli.git`
`npm install`
`bin/run <command> <flags> <paths if any>`

<command> = validate, new, diff, etc
<flags> = -w, -h , etc
<path> = if any command (for ex: dif

[2022-03-08 12:11] Souvikns commented on #192
https://github.com/asyncapi/cli/actions/runs/1922065237 we have to merge another PR to check. But I think the warnings are fixed now.

[2022-03-08 16:50] alceil commented on #218
Thanks @KhudaDad414

[2022-03-08 20:19] pushred commented on #192
I'm getting this error running `asyncapi validate` after a fresh install (am a new user):

[code]

`@asyncapi/cli@0.15.0 `

[2022-03-09 08:47] derberg commented on #111
@boyney123 this one is implemented, right?

[2022-03-10 13:40] alceil commented on #218
@KhudaDad414 any type of similar command I can refer too?

[2022-03-11 04:59] alceil commented on #218
Hey @KhudaDad414 I have raised a pull request. Could you please review it?

[2022-03-11 14:33] mcturco opened #257 "Update README with new logo banner"
#### Reason/Context
This is to replace the old AsyncAPI logo in this repo's README with the banner attached below that represents the new branding.

**Here are a few guidelines for this change as well:**
1. Make sure you are using [Markdown syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax) onl

[2022-03-11 14:33] mcturco commented on #257
/gfi design

[2022-03-11 17:47] Souvikns commented on #244
@aykonsvk can you update to the latest version and check once, your issue should be fixed now, but if it isn't just let me know.

[2022-03-14 09:20] derberg commented on #251
Awesome initiative @Souvikns 👏🏼

I think we should first agree on what 1.0 means to all of us and then define the scope. I personally always consider features only as one of many requirements, and only features that are necessary or features that can potentially be changing a lot after its release and we want to give them some time to make sure they are stable.

in other words, for example `bundle

[2022-03-14 12:16] peter-rr commented on #184
Hey guys! 👋 @jonaslagoni @derberg @imabp @fmvilas
I've been having a look and investigating a bit on this issue and I'd like to start working on it to keep on contributing to the CLI repo. If no objections from your side, I'll take it up and get back to you with a proposal as soon as I have some working code 💪 Cheers!

[2022-03-14 12:18] fmvilas commented on #184
No objections from my side 👍 🚀

[2022-03-14 12:21] jonaslagoni commented on #184
Awesome @peter-rr!

Not sure how you want to do it, but as a suggestion, don't try to jam everything into one PR :) Start small with one of the commands like `asyncapi new glee`, and make a PR and gradually add features 🙂

[2022-03-14 14:24] amanbedi1 commented on #257
I would like to work on this issue. Just a clarification as the current logo is serving from another repository so should I put this new logo in assets folder of this repository.

[2022-03-14 14:55] amanbedi1 commented on #219
HI @derberg I am Amanpreet  a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you.

[2022-03-14 14:58] amanbedi1 commented on #219
I just want to ask in this command the first file passed to command should be  base file or not.

[2022-03-14 15:07] Souvikns commented on #251
Totally agree!

Maybe we divide our scope into `must-have` and `might-have` so that we can create some kind of priority.

So roughly major versions are just stable versions that are safe to be used in production. So we don't release a new feature and say it is V1 but take some old well-developed and well-tested features as the scope (Still trying to figure out how versioning really works).

---

*

[2022-03-14 15:14] derberg commented on #257
yeah, `assets` is pretty standard I think that we have already in other repos. Go ahead 🚀

[2022-03-14 15:18] Souvikns commented on #219
`bundler` takes an array of files but it does not read the files, so you have to read and pass in the content. And `base` is an option that you can pass. `base` is for when you want to preserve some `schema` objects while you are merging multiple separate specifications.

Yeah actually when `bundler` had a CLI it had a `--output` but since it is library now it just returns a document object and in

[2022-03-14 15:28] amanbedi1 commented on #219
Ok so I think I just have to output bundled file in terminal or ```--output```  flag  specify where to output bundled doc as a file.
I will try to resolve it.

[2022-03-14 15:47] derberg commented on #219
what do you mean @Souvikns

[2022-03-14 15:53] Souvikns commented on #219
I mean there is no way to output a file to a certain directory right now in `bundler`. It just gives you string and JSON object. So bundler does not care about file system so tools like `studio` where we do not have access to the file system can also use `bundler` same goes for `server-api` which will just send the data over HTTP request.

[2022-03-14 15:59] derberg commented on #219
but this is CLI where we implement `bundler` option, so CLI should handle the option to output bundler-provided data into a file. Same like `server-api` will handle sending reply with JSON object. As you wrote, bundler is just to bundle and provide JSON Object (or string) and tools that integrate it, like CLI or Studio or server-api handle rest, like post processing of bundler output.

we just nee

[2022-03-14 16:07] Souvikns commented on #219
Oh now I get you 😄, yeah definitely `--output` should be reusable.

[2022-03-14 16:11] amanbedi1 commented on #257
Here is my <a href="https://github.com/asyncapi/cli/pull/258">PR</a> please review it.

[2022-03-14 18:09] imabp commented on #251
I liked this of putting the completely production grade things to v1.0.0

@derberg @Souvikns , we need a e2e framework for testing CLI,

Just like cypress for frontend, I got to know about "nixt", for e2e user testing in clis
https://github.com/vesln/nixt

We can try using this.

[2022-03-16 00:45] Souvikns commented on #192
So this is fixed now due to https://github.com/asyncapi/cli/pull/203.
@pushred you can update CLI to `^@0.16.0`.

[2022-03-17 09:33] boyney123 commented on #257
Guess we can close this one now @mcturco?

[2022-03-17 13:55] derberg commented on #251
@imabp `https://github.com/vesln/nixt` is more for the topic of integration testing that I mentioned, so we actually use the CLI as end user, not just testing individual components, but commands directly

for user testing, I mean kind of reports that we can receive that tell us what commands user is using, etc.
but yeah, this is big topic, that requires research and discussion with community, so I

[2022-03-17 15:43] mcturco commented on #257
Yes, all set. Thanks @boyney123

[2022-03-17 15:43] #257 closed

[2022-03-18 10:18] amanbedi1 commented on #219
Hey @derberg @Souvikns I am almost done with bundle command but there is a problem when I try to bundle below files the output is not as expected. So can you guide me how to do this. Files are attached below.

signup.yaml
[code]

login.yaml
[code]
Bundled (terminal) output
[code]

Expected output
[code]

[2022-03-18 10:51] Souvikns commented on #219
Would be better if you open a WIP PR then I can take a look at your changes, but this is happening most probably because you are using `document.json()` that's why you are getting output in `JSON` format for `YAML` format you have to use `document.yml()`  you can refer this document to learn more https://github.com/asyncapi/bundler/blob/master/API.md#Document+yml

[2022-03-18 12:44] amanbedi1 commented on #219
@Souvikns thanks its working.

[2022-03-18 19:03] amanbedi1 commented on #219
hey @Souvikns @derberg  I just made a <a href ="https://github.com/asyncapi/cli/pull/260">PR</a>. Please review it

[2022-03-19 17:03] aykonsvk commented on #244
After the update there is no error in the console. but I still have 404.

Tried new file with

[code]

And also opening existing with full path:
[code]

<img width="747" alt="image" src="https://user-images.githubusercontent.com/12907442/159130925-ce6c7d74-5d64-4c70-9c69-ced740058274.png">

[2022-03-23 14:46] derberg commented on #244
@aykonsvk I just installed latest CLI

[code]

All works well for me. I replicated all your steps and see no issues. I see you are working on sources, can you please make sure you are really using latest?

[2022-04-20 05:33] imabp commented on #251
@derberg , that sounds like a telemetry analysis topic.
Yes, google analytics can be integrated with CLI too using [Google's Measurement Protocol Node Library](https://developers.google.com/analytics/devguides/collection/protocol/ga4)

I have used [rollbar](https://rollbar.com) a lot, its useful to track errors and reports.

Meanwhile, let's just first ship the things of what is required.

[2022-04-20 14:59] #128 closed

[2022-04-21 14:29] andrew-williams-cko commented on #244
I also had this 404 issue - but it seems to only happen when `@asyncapi/cli` is installed locally, when installed globally (`npm i -g`), it seems to work fine.

[2022-04-22 06:27] aykonsvk commented on #244
@andrew-williams-cko Thank you! That helped. Tried to reproduce the problem even in docker and it is not working when package is not globally installed.

[2022-04-26 16:34] derberg commented on #244
just to clarify @aykonsvk @andrew-williams-cko do you see a use case to use CLI as a local package?

[2022-04-28 13:16] starlightknown commented on #142
hello, wanted to confirm changes before I make a PR @derberg  :
![image](https://user-images.githubusercontent.com/74637789/165760556-4f461de4-7fa2-443c-978d-f95be7103973.png)

[2022-04-29 11:17] magicmatatjahu commented on #41
Yeah, it's implemented. Thanks!

[2022-04-29 11:17] #41 closed

[2022-04-29 11:18] #192 closed

[2022-04-29 11:19] fmvilas commented on #129
I'm happy to be a mentor for this issue in the [Mentorship program](https://github.com/asyncapi/community/discussions/284).

[2022-04-29 11:19] fmvilas commented on #184
I'm happy to be a mentor for this issue in the [Mentorship program](https://github.com/asyncapi/community/discussions/284).

[2022-04-29 11:28] peter-rr commented on #184
@fmvilas As I said I'd be happy to contribute on this issue 💪 So I'd like to do it as part of the Mentorship program if selected :) Cheers!!

[2022-04-29 11:41] peter-rr commented on #129
@fmvilas I'm also interested to contribute to this issue for the Mentorship program, but I'm not sure whether I can opt for different issues or not 🤔 In case it's only possible to opt for just one issue, I wouldn't mind to pick one or the other depending on the priority or importance of the issue for AsyncAPI, I can adapt to it :)

(The other issue I'm talking about is #184)

[2022-05-02 12:08] jonaslagoni commented on #129
@fmvilas any reason this was added with gsoc 😄? As there already are a PR that adds it, we are just stuck based on the feedback from code owners with no way to really move forward 🤷

https://github.com/asyncapi/cli/pull/173

[2022-05-02 12:27] fmvilas commented on #129
Oh sorry, I haven't seen it. Removing the label then.

[2022-05-03 11:21] peter-rr commented on #129
Alright, you can ignore my previous comment then :)

[2022-05-12 09:24] derberg commented on #244
ok folks, so

1. I added `"@asyncapi/cli": "^0.19.1"` to `devDependencies` in my project
2. created some dummy asyncapi file
3. added script like `"studio": "asyncapi --version && asyncapi start studio"`
4. ran script `npm run studio`
5. Got this
[code]
6. Studio opens and works like a charm, not 404

Maybe you have some ports opened? did you try `p` flag with custom port? Hard to fix without repr

[2022-05-15 12:31] Pcrab commented on #244
I found if I install with npm globally, `start:studio` works, but if I use yarn or pnpm, it will always return a 404.

[2022-05-16 11:07] jonaslagoni opened #282 "Incorrect context help message"
#### Describe the bug
The help message for context is showing an incorrect context command `asyncapi context use mycontext`.

[code]

The file with the error: https://github.com/asyncapi/cli/blob/master/src/errors/context-error.ts

[2022-05-17 14:50] derberg commented on #244
I tried with the latest CLI, installed in my project as a local dependency with YARN and all is good.

I really cannot reproduce it.
The error looks like connected to https://github.com/asyncapi/cli/blob/master/src/models/Studio.ts#L49. Maybe because of some issues on your side, the `@asyncapi/studio` dependency is not installed, therefore the server cannot host anything from `../../node_modules/@

[2022-05-18 15:21] andrewshawcare opened #285 "validate command returns 0 exit code when validation error occurs"
#### Describe the bug
It was expected that when a validation error occurs when running the validate command, a non-zero exit code would be used. Instead, it returns 0.

#### How to Reproduce
[code]

#### Expected behavior
A non-zero error code would be used.

[2022-05-18 19:44] peter-rr commented on #285
@fmvilas Sure! This command is already familiar to me, so let's go for it 💪

[2022-06-02 02:42] Souvikns commented on #123
@BOLT04, cli documentation was a part of GSOD, but don't know what is the status. https://github.com/asyncapi/website/issues/602, https://github.com/asyncapi/cli/issues/232 were planned for this. I don't know if anyone is working on CLI documentation right now. Give me some time, I will check on the status and update you.

[2022-06-02 04:18] Souvikns commented on #232
Any update on this @imabp, Are you still working on this?

[2022-06-02 06:47] imabp commented on #123
@Souvikns  we can continue on the CLI command reference using this tool
And I will be writing the getting started document

[2022-06-02 07:23] pranay202 commented on #282
Hey @jonaslagoni, I want to work on this isssue. Please assign it to me.

[2022-06-03 04:02] aayushmau5 commented on #58
Should we close this issue now that we have integrated diff in CLI?

[2022-06-07 11:44] #58 closed

[2022-06-07 11:54] derberg commented on #47
it is still active, PR is pretty advanced, you can do it @arjungarg07 💪🏼

[2022-06-09 02:47] mihirkothari25 commented on #244
I ran into the same issue with pnpm. Installed it as a dev dependency at both the root level and the package level and encountered a 404 when running studio.
It works fine with the global installation of the cli.

[2022-06-09 10:02] derberg commented on #244
@mihirkothari25

can you confirm if `node_modules` inside installed `@asyncapi/cli` you have `@asyncapi/studio` ?

[2022-06-09 18:48] mihirkothari25 commented on #244
@derberg I doesn't contain it.
![Screen Shot 2022-06-09 at 1 47 54 PM](https://user-images.githubusercontent.com/7033628/172921900-7339ce5e-1610-4b9c-b10e-9a6db6ef51a5.png)

[2022-06-09 20:39] derberg commented on #244
Damn, it is almost completely empty 🤔 at least we know why we get the error, but why the heck deps are not resolved by pnpn...

... looking at docs

Looks like it is normal. That if you installed it also globally, it is the only place where it stays and won't go to local package 🤔 but there is also no symlink so what magic is used to import deps... I have no idea 🤣

We need to figę how we can fall

[2022-06-13 15:51] pranay202 commented on #282
@jonaslagoni @Souvikns Please review my PR.

[2022-06-22 04:28] imabp commented on #234
This is already solved ..mr bot 🤭

[2022-06-22 04:28] #234 closed

[2022-06-22 04:39] imabp commented on #236
we are solving this issue, using `@asyncapi/problem` in maintainers program.
Closing this one.

[2022-06-22 04:39] #236 closed

[2022-06-23 22:52] woylie commented on #244
I just tried adding the cli (version 0.19.4) as a dev dependency to a yarn 1.22.18 project (no pnpm). I generated a new file with `asyncapi new`, but when I started studio, I got "404 - The requested path could not be found" in the browser as well.

It looks like the dependencies have been installed, though:

<img width="284" alt="image" src="https://user-images.githubusercontent.com/13847569/1754

[2022-06-28 14:39] derberg commented on #244
@magicmatatjahu @Souvikns @boyney123

Hey folks, what do you think about https://github.com/asyncapi/cli/issues/244#issuecomment-1161725030 and 👇🏼

I think we should give it a try and not depend on dependencies and all these different package managers

[2022-06-29 15:33] #129 closed

[2022-06-30 08:23] derberg opened #302 "Help validate Windows installer publishing"
#### Reason/Context

[This](https://github.com/asyncapi/cli/pull/187) PR introduced automation for publishing of MacOS `pkg` file. It was also designed in the way that it should be easy to plug in generation of installer files for Windows and Linux.

**This issue is for folks that work on Windows machine** and can do some local testing to check if all works as expected

#### Description

* First m

[2022-06-30 08:23] derberg opened #303 "Help validate Linux installer publishing"
#### Reason/Context

[This](https://github.com/asyncapi/cli/pull/187) PR introduced automation for publishing of MacOS `pkg` file. It was also designed in the way that it should be easy to plug in generation of installer files for Windows and Linux.

**This issue is for folks that work on Linux machine** and can do some local testing to check if all works as expected

#### Description

* First mak

[2022-06-30 08:23] derberg opened #304 "Get CLI on Windows package manager Chocolatey and automate publishing like we did with brew"
#### Reason/Context

We want CLI to be easy to install for anyone on any OS, without a need to use Node/NPM

We have AsyncAPI already on MacOS package manager -> brew. Time to get it on Windows and I guess Chocolatey is most popular, although if you think not, please propose alternative.

#### Description

- get CLI on given package manager
- extend this workflow https://github.com/asyncapi/cli/bl

[2022-06-30 08:24] derberg commented on #303
/gfi ci-cd

[2022-06-30 13:33] #235 closed

[2022-06-30 15:47] #114 closed

[2022-07-01 16:25] aayushmau5 commented on #303
Hey! I use linux. I'll try this out.

[2022-07-01 16:34] aayushmau5 commented on #303
![image](https://user-images.githubusercontent.com/54525741/176934948-e0a83e21-6b3a-4184-99c5-811713a1803c.png)
Got this error.

[2022-07-04 14:57] derberg commented on #303
@aayushmau5 thanks a bunch for looking into this 🙏🏼

yeah `.deb` is just there in a comment but doesn't have to end up like this. I do not even know what they generate really. IT can be tarball if this is ok, as long as there are good instructions on how to use it on linux

in regards to the error - seem to me like some local permissions issue no?

[2022-07-04 15:03] aayushmau5 commented on #303
Maybe. I'll look into this, and let you know whether it's an error on my end or not.

[2022-07-05 06:15] lennonkh opened #315 "Incorrect context help message - [asyncapi config context]"
While adding new context for AsyncAPI CLI there is an incorrect help message about further actions. It suggests calling an incorrect message

#### How to Reproduce
asyncapi config context add [context-name] [context-path]
<img width="868" alt="async_context" src="https://user-images.githubusercontent.com/15107731/177261323-56638a73-cf88-4ba4-be2e-bac72e2a6f1d.png">

#### Expected behavior
https://

[2022-07-05 06:16] lennonkh commented on #315
I can fix the issue. Please assign it to me.

[2022-07-05 06:27] Souvikns commented on #315
@lennonkh thanks for the issue, we already have a PR for this, https://github.com/asyncapi/cli/pull/294 it will be merged soon

[2022-07-05 09:06] smoya commented on #104
Let's remove the `stale` label @magicmatatjahu ?

[2022-07-05 09:11] lennonkh commented on #315
Looks like it's an additional place - https://github.com/asyncapi/cli/blob/master/src/commands/config/context/add.ts, I don't see the fix in PR provided.

[2022-07-05 09:21] magicmatatjahu commented on #104
@smoya Done :)

[2022-07-08 07:42] boyney123 commented on #111
Yeah merged part of #131 , will close 👍

[2022-07-08 07:42] #111 closed

[2022-07-11 14:02] LakshyaSatpal commented on #282
is this issue open?

[2022-07-11 14:37] derberg commented on #162
@LakshyaSatpal we do not practice issues assignment here. I mean we do not look at the assignment field. Just enough you wrote a comment that you are interested in the issue. So nobody else should now kick in with separate implementation, they should ask in the issue first

[2022-07-11 17:05] LakshyaSatpal commented on #162
Oh, okay fine.

[2022-07-19 08:38] derberg commented on #303
@aayushmau5 hey, any luck?

[2022-07-21 05:43] aayushmau5 commented on #303
@derberg Ok, I was able to get the package. Had to install some additional packages related to apt package manager.

The `pack:linux` command outputs the following file:
![image](https://user-images.githubusercontent.com/54525741/180138051-0d5820d1-029e-4347-93e0-e7a6f816cf20.png)

Ran `dpkg -i asyncapi_0.21.2.515e58d-1_amd64.deb` to install the deb file. And, we got `asyncapi` command now :D

[2022-07-21 08:57] derberg commented on #303
yes yes yes 🚀

THANKS!!!

you ok to take it forward and extend release pipeline as I described in the PR? Existing "renaming" script will for sure have to be extended with rename of the `.deb` file.

[2022-07-21 09:15] aayushmau5 commented on #303
Sure. :rocket:

[2022-07-25 11:08] Souvikns commented on #302
@derberg for windows should we have a `.msi` installer or use some package manager like `chocolatey`?

[2022-07-26 08:52] derberg commented on #302
@Souvikns for chocolatey we have this issue https://github.com/asyncapi/cli/issues/304 as work is different than the one described here, and definitely not easy good first issue.

and yes, afaik, https://github.com/oclif/oclif#oclif-pack-win produces `.msi` but only Windows user can confirm.

I think we need both. Just like with my initial work on MacOS, I worked on `brew` and also `pkg` for those

[2022-07-26 15:07] Souvikns commented on #302
I tested it and it works, we just need to install `p7zip` and `nsis` to run the `pack:windows` command.

[2022-07-26 15:09] Souvikns commented on #302
I will just wait for https://github.com/asyncapi/cli/pull/325 and then open a PR for this

[2022-07-28 09:03] derberg commented on #142
@starlightknown omg, so sorry, I just noticed this by accident when I was doing a review of good first issues 😞

please always open a PR when you have something already, just mark it as draft. It is really easy to miss some comment in some issue. Still not a good excuse 😄 sorry 😞

The changes you suggest are good, but this is not the only place where we need it. The `fetch-asyncapi-example.js` is

[2022-07-28 09:41] magicmatatjahu commented on #142
ParserJS is a single instance lib so we should only create `parser.ta` file with that code:

[code]

and reuse that `parse` function in other places.

[2022-08-13 21:31] jonaslagoni opened #329 "Cannot convert AsyncAPI document"
#### Describe the bug
While trying to use `asyncapi convert ...` I get a successful message and an error.

#### How to Reproduce
Given the following file:

[code]

With the following command `asyncapi convert ./documents/test.json -o ./documents/output.json`

I get the following output:

[code]

[2022-08-16 14:18] derberg commented on #329
It might be related to the change in the API of the converter. The result of the conversion is not string and this is why writing to `output` maybe fails. @peter-rr do you have time to have a look? we are also missing a test of conversion with `--output flag.

[2022-08-28 13:12] fmvilas commented on #184
Still relevant, don't close it :)

[2022-09-08 04:26] TamimiGitHub commented on #285
Hey @peter-rr  ! Not sure if you got the chance to get around this :)

[2022-09-09 16:58] fmvilas commented on #38
Dear bot, keep this issue open. Thanks!

[2022-09-13 14:36] jonaslagoni opened #334 "Upgrade Oclif for conditional fields"
#### Reason/Context
For the generate models command, there are specific arguments that must be provided based on the condition of the language output: https://github.com/asyncapi/cli/blob/cfbd536c3f0e3c7f155722bcd9f40cb51e3e0216/src/commands/generate/models.ts#L69

This was previously not supported by Oclif but now it is: https://github.com/oclif/oclif/issues/323

This means that we can remove tho

[2022-09-27 08:32] #9 closed

[2022-09-27 10:56] #303 closed

[2022-09-27 11:02] derberg opened #358 "Add Dockerfile and release pipeline"
- example Dockerfile that we already have for the Generator CLI -> https://github.com/asyncapi/generator/blob/master/Dockerfile
- but instead of installing npm package, and using CLI from npm, we can actually build even smaller image, not based on node alpine. We would just plug into https://github.com/asyncapi/cli/blob/master/.github/workflows/upload-release-assets.yml workflow where we generate

[2022-09-27 14:17] #285 closed

[2022-09-27 16:12] derberg opened #361 "`asyncapi --version` should also output version of other asyncapi dependencies"
So instead of version of AsyncAPI CLI only we should also list generator and others

https://github.com/asyncapi/generator/pull/818/files#diff-c1cc304e56dd03cbb5cf65c32d83c9b7ab069800b2ce780249ac87d320e76789 is one of main reasons. For example in case of generator and templates, it is super important to know that you are using proper generator version. So we need an easy way for CLI user to check

[2022-09-28 09:44] Souvikns commented on #361
Yeah, I agree with this, also since CLI is implementing other tools, should CLI be able to install specific versions of the tool on the go? So users can change the generator version they want to work with commands like `asyncapi install @asyncapi/generator@1.4.0`

[2022-09-28 10:30] magicmatatjahu commented on #361
@Souvikns I don't think so that it's good idea, due to fact that API for given tool can change between version, so for example, in newest parser we switch from singleton parser instance to the Parser as class, so API and also exports from module changed, so calling `parse` was changed.

[2022-10-10 17:56] derberg commented on #361
ok, since we agree on that, the question is not on technical details.

afaik `--version` is something we get out of the box from oclif. So in case of this feature, we are talking about overwriting `--version` flag with custom implementation, right?

[2022-10-11 08:55] derberg commented on #123
I think this one is still valid

[2022-10-11 09:08] Souvikns commented on #361
What would be better, to have a section in the [release documentation](https://github.com/asyncapi/cli/releases/tag/v0.25.0) talking about the different version of asyncapi tools it depends on, Or have it in CLI's `--version` flag or both?

[2022-10-11 10:36] derberg commented on #47
@arjungarg07 `generate fromTemplate` is there, so you can add cupid now 😉

[2022-10-11 11:08] derberg commented on #205
@imabp do you plan to continue working on this one? https://github.com/asyncapi/cli/pull/213

[2022-10-11 16:34] rcollette opened #369 "fromTemplate.js: Cannot find module './yamlAST'"
#### Describe the bug
When running from an npm script (not a global install), the error

`fromTemplate.js: Cannot find module './yamlAST'`
occurs

#### How to Reproduce
In a project
[code]
In package.json add a script similar to
[code]

Run the script
[code]
#### Expected behavior
Should generate the document using the template.

[2022-10-12 08:56] derberg commented on #361
`--version` flag is most important. For release notes we always link PRs, and it is easy to figure out.

[2022-10-26 17:54] arjungarg07 commented on #47
Sure, would be integrating it soon.

[2022-11-03 14:23] smoya commented on #104
Relevant

[2022-11-08 02:19] juanheyns opened #383 "Adding optional parameters to typescript model generator"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
Specifying optional parameters to model generator should be easy from cli.

- How will this change help?
Add the following optional cli flags: modelType, enumType, moduleSystem, exportType

- What is the motivation?
This will allow users or the cli to override the default values for these properties

##

[2022-11-09 07:11] Souvikns commented on #334
I don't think this helps in our case. So we enable `packageName` flag when we have `java` as an argument for `language`.Currently I can check only for flags and there is no support for checking arguments.

[2022-11-09 14:15] Souvikns commented on #302
@derberg I am getting this error while running `npm run pack:win` I am unable to find shasum for windows.

![image](https://user-images.githubusercontent.com/41781438/200851477-4318b2a2-3166-45e0-a1c7-ed050983033f.png)

[2022-11-11 14:13] fmvilas commented on #387
Transferred this issue to CLI so we start the effort here instead of in the `create-glee-app` tool.

[2022-11-16 11:53] Souvikns opened #389 "Add integration testing for cli"

[2022-11-17 15:39] #205 closed

[2022-11-21 12:11] AceTheCreator opened #394 "Adding an activity loader"
I believed the generator should have an activity loader that indicates the generator is running

I was running the generator on my windows machine, but for some reason it took time and I couldn't tell if it was actually generating or not.

[2022-11-23 17:33] derberg commented on #369
@rcollette I tried to reproduce but all is fine.

`package.json`:
[code]

run result:
[code]

Can you please try adding `--debug` flag? my details after debugging:
[code]

logs show good template is used and generation finish with success